<!DOCTYPE html>
{% load staticfiles %}
{% load crm_extras %}
{% load humanize %}

<html lang="en">
  <head>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Infonex CRM">
    <meta name="author" content="Christopher Graham">
    <link rel="icon" href={% static 'crm/images/favicon.ico' %}>
    <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="{% static 'crm/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="{% static 'home/home.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'home/javascript/home.js' %}"></script>

    <!-- For testing Chartist integration -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <!-- End Chartist CDN links -->

    <title>Infonex Employee Portal</title>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src={% static 'crm/images/INFONEX-logo.png' %} height="25"></a>
        </div>
        <div class="navbar-collapse collapse">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li><a href="{% url 'crm:index' %}">CRM</a></li>
            {% if reg_permission_ok %}
            <li><a href="{% url 'registration:index' %}">Registration</a></li>
            {% endif %}
          </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>
          <a href="{% url 'home:index' %}"><img src={% static 'crm/images/INFONEX-logo.png' %}></a>&nbsp;&nbsp;
          Employee Portal
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1>Welcome {{ user.username }}</h1>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img class="welcome-image" src="{% static 'home/images/welcome_dog.gif' %}" />
        </div>
        <div class="col-sm-12 col-md-6">
          {% if today_contacts == 1 %}
          <h3>You've made {{ today_contacts }} contact today</h3>
          {% else %}
          <h3>You've made {{ today_contacts }} contacts today</h3>
          {% endif %}
          <img class="welcome-image" src="{% url 'home:contact_chart' %}" />
        </div>
      </div>
      {% if request.user|has_group:'sales' or request.user|has_group:'sponsorship' or request.user.is_superuser %}
      {% include 'home/home_addins/sales_dept_details.html' %}
      {% else %}
      <div class="row">
        <div class="col-sm-6">
          <h4>Your Sales this month:&nbsp;${{ month_sales|floatformat:'2'|intcomma }}</h4>
          <h4>Payments recevied this month:&nbsp;${{ month_payments|floatformat:'2'|intcomma }}</h4>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
