.filter-flag-icon {
  padding-left: 15px;
  padding-right: 10px;
  cursor: default;
}
.filter-flag-icon:hover {
  background-color: #0069D9;
  color: white;
}
.flag-filter-choice:hover {
  background-color: #0069D9;
  color: white;
  cursor: default;
}
.button-flag-icon {
  padding-right: 10px;
}
.button-flag-icon:hover {
  background-color: #0069D9;
  color: white;
}
.company-name-as-link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
.company-name-as-link:hover, .company-name-as-link:focus {
  color: #23527c;
  text-decoration: underline;
  outline: 0;
}
