.red-flag {
  color: red;
  cursor: pointer;
}
.green-flag {
  color: green;
  cursor: pointer;
}
.blue-flag {
  color: blue;
  cursor: pointer;
}
.black-flag {
  color: black;
  cursor: pointer;
}
.yellow-flag {
  color: gold;
  cursor: pointer;
}
.purple-flag {
  color: purple;
  cursor: pointer;
}
.no-flag {
  color: DarkGrey;
  cursor: pointer;
}
.filter-flag-icon {
  padding-left: 15px;
  padding-right: 10px;
  cursor: default;
}
.filter-flag-icon:hover {
  background-color: #0069D9;
  color: white;
}
.flag-filter-choice:hover {
  background-color: #0069D9;
  color: white;
  cursor: default;
}
