<h3>Sample of max 250 records in selection</h3>
<table class="table table-striped table-fixedheader">
  <thead>
    <tr>
      <th width="25%">Title</th>
      <th width="25%">Company</th>
      <th width="25%">Geo</th>
      <th width="25%">Last Modified</th>
    </tr>
  </thead>
  <tbody id="general-selection-sample-list">
    {% for person in sample_select %}
    <tr>
      <td>{{ person.title }}</td>
      <td>{{ person.company }}</td>
      <td>{{ person.state_prov }}</td>
      <td>{{ person.date_modified }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
