<div class="search-results">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-8">
          Company Name
        </th>
        <th class="co-sm-4">
          Number of Prospects
        </th>
      </tr>
    </thead>
    <tbody>
      {% for company in person_list %}
      <tr>
        <td>
          <a class="company-name-as-link">{{ company.company }}</a>
        </td>
        <td>
          {{ company.num_records }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="search-pagination">
  {% include 'crm/pagination.html' %}
</div>
