<div class="panel-heading">
  <h2 class="panel-title">
    Filter/Search Contacts
    {% if request.session.filter_hide_options %}
    <div id="btn-toggle-filter-options" class="float-right glyphicon glyphicon-chevron-down glyph-button"></div>
    {% else %}
    <div id="btn-toggle-filter-options" class="float-right glyphicon glyphicon-chevron-up glyph-button"></div>
    {% endif %}
  </h2>

</div>
{% if request.session.filter_hide_options %}
<div class="panel-body collapse" id="filter-panel">
{% else %}
<div class="panel-body collapse in" id="filter-panel">
{% endif %}
  <form action="" method="post" id="filter-form">
    {% csrf_token %}
    <div class="form-group row">
      <div class="col-sm-2">
        {{ filter_form.name.label_tag }}
      </div>
      <div class="col-sm-10">
        {{ filter_form.name.errors }}
        {{ filter_form.name }}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        {{ filter_form.title.label_tag }}
      </div>
      <div class="col-sm-10">
        {{ filter_form.title.errors }}
        {{ filter_form.title }}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        {{ filter_form.company.label_tag }}
      </div>
      <div class="col-sm-10">
        {{ filter_form.company.errors }}
        {{ filter_form.company }}
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        {{ filter_form.state_province.label_tag }}
      </div>
      <div class="col-sm-2">
        {{ filter_form.state_province.errors }}
        {{ filter_form.state_province }}
      </div>
      <div class="col-sm-2">
        {{ filter_form.past_customer.label_tag }}
      </div>
      <div class="col-sm-2">
        {{ filter_form.past_customer.errors }}
        {{ filter_form.past_customer }}
      </div>
      <div class="col-sm-2">
        <label>Flag:</label>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="btn-flag-filter-select">
          {% if flag_filter_value == 'any' %}
          Select Flag
          {% elif flag_filter_value == 'red' %}
          <span class="glyphicon glyphicon-flag red-flag button-flag-icon"></span>Red
          {% elif flag_filter_value == 'green' %}
          <span class="glyphicon glyphicon-flag green-flag button-flag-icon"></span>Green
          {% elif flag_filter_value == 'blue' %}
          <span class="glyphicon glyphicon-flag blue-flag button-flag-icon"></span>Blue
          {% elif flag_filter_value == 'black' %}
          <span class="glyphicon glyphicon-flag black-flag button-flag-icon"></span>Black
          {% elif flag_filter_value == 'yellow' %}
          <span class="glyphicon glyphicon-flag yellow-flag button-flag-icon"></span>Yellow
          {% elif flag_filter_value == 'purple' %}
          <span class="glyphicon glyphicon-flag purple-flag button-flag-icon"></span>Purple
          {% elif flag_filter_value == 'none' %}
          <span class="glyphicon glyphicon-ban-circle no-flag button-flag-icon"></span>None
          {% endif %}
          <span class="caret"></span>
        </button>
        <input type="hidden" name="flag" id="id_flag" value="{{ flag_filter_value }}"/>
          <ul class="dropdown-menu list" role="menu">
            <li class="flag-filter-choice" flag-color="any">
              <span class="glyphicon glyphicon-heart filter-flag-icon"></span>Any
            </li>
            <li class="flag-filter-choice" flag-color="red">
              <span class="glyphicon glyphicon-flag red-flag filter-flag-icon"></span>Red
            </li>
            <li class="flag-filter-choice" flag-color="green">
              <span class="glyphicon glyphicon-flag green-flag filter-flag-icon"></span>Green
            </li>
            <li class="flag-filter-choice" flag-color="blue">
              <span class="glyphicon glyphicon-flag blue-flag filter-flag-icon"></span>Blue
            </li>
            <li class="flag-filter-choice" flag-color="black">
              <span class="glyphicon glyphicon-flag black-flag filter-flag-icon"></span>Black
            </li>
            <li class="flag-filter-choice" flag-color="yellow">
              <span class="glyphicon glyphicon-flag yellow-flag filter-flag-icon"></span>Yellow
            </li>
            <li class="flag-filter-choice" flag-color="purple">
              <span class="glyphicon glyphicon-flag purple-flag filter-flag-icon"></span>Purple
            </li>
            <li class="flag-filter-choice" flag-color="none">
              <span class="glyphicon glyphicon-ban-circle no-flag filter-flag-icon"></span>None
            </li>
          </ul>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-2 ">
        <button type="button" class="btn btn-primary" id="btn-submit-filter">Filter</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-default" id="btn-clear-filter">
          Clear Form
        </button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-default" id="btn-see-all-contacts">See All Contacts</button>
      </div>
    </div>
  </form>
</div>
