<!-- Called from personal_select_person_chooser.html -->
<input type="hidden" id="active-staff-id" value={{ staff_rep.id }} />
<div class="row form-group">
  <h2>Personal selections for {{ staff_rep.username }}</h2>
  <h4>{{ territory_select_method_form.filter_master_selects.label_tag }}</h4>
  {{ territory_select_method_form.filter_master_selects.errors }}
  {{ territory_select_method_form.filter_master_selects }}
  <button type="button" class="btn btn-sm btn-default" id="btn-change-filter">Change</button>

</div>
<div class="row form-group" id="person-select-options">
  {% include 'crm/territory_addins/personal_select_details.html' %}
</div>
