<!-- Included in territory_builder.html
AJAX call from add_master_list_select -->

<div class="master-list-selector">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Include/Exclude</th>
        <th>Main Category (f1)</th>
        <th>Main Category 2</th>
        <th>Geo</th>
        <th>Dept</th>
        <th>Industry</th>
        <th>Company Name</th>
        <th>Title</th>
        <th>Save/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ select_form.include_exclude.errors }}
          {{ select_form.include_exclude }}
        </td>
        <td>
          {{ select_form.main_category.errors }}
          {{ select_form.main_category }}
        </td>
        <td>
          {{ select_form.main_category2.errors }}
          {{ select_form.main_category2 }}
        </td>
        <td>
          {{ select_form.geo.errors }}
          {{ select_form.geo }}
        </td>
        <td>
          {{ select_form.dept.errors }}
          {{ select_form.dept }}
        </td>
        <td>
          {{ select_form.industry.errors }}
          {{ select_form.industry }}
        </td>
        <td>
          {{ select_form.company.errors }}
          {{ select_form.company }}
        </td>
        <td>
          {{ select_form.title.errors }}
          {{ select_form.title }}
        </td>
        <td><button type="button" class="btn btn-primary" id="btn-add-new-select">Save</button></td>
      </tr>
      {% for select in list_selects %}
      <tr>
        <input type="hidden" name="select_id" value="{{ select.id }}">
        <td>{{ select.include_exclude }}</td>
        <td>{{ select.main_category }}</td>
        <td>{{ select.main_category2 }}</td>
        <td>{{ select.geo }}</td>
        <td>{{ select.dept }}</td>
        <td>{{ select.industry }}</td>
        <td>{{ select.company }}</td>
        <td>{{ select.title }}</td>
        <td><button type="submit" class="btn btn-secondary btn-delete-master-select" select-value="{{ select.id }}">Delete</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- List preview section of panel -->
<div id="master-list-preview">
  {% if sample_select %}
  {% include 'crm/territory_addins/builder_sample_list.html' %}
  {% else %}
  <h3>Territory not yet defined</h3>
  {% endif %}
</div>
