<div class="modal fade" id="modalWarnDeleteSelections" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h3 class="modal-title errorlist" id="deleteConfirmLabel">Hey There...</h3>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-sm-12">
              <h4><span id="destroyed-staff-name">That person</span> has a personalized set of selects already</h4>
              <p>
                If you move them back to the general staff listing, those selects
                will be destroyed (you cannot restore them if you do this).
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="save-after-dupe-check">Destroy those records!</button>
      </div>
    </div>
  </div>
</div>
