<!-- Included in filter_master_option.html
AJAX call from ???? -->

<div class="personal-list-selector">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th width="10%">Include/Exclude</th>
        <th width="10%">Sales Division 1</th>
        <th width="10%">Sales Division 2</th>
        <th width="10%">Main Category (f1)</th>
        <th width="10%">Main Category 2</th>
        <th width="10%">Geo</th>
        <th width="10%">Dept</th>
        <th width="10%">Industry</th>
        <th width="10%">Company Name</th>
        <th width="10%">Save/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ select_form.include_exclude.errors }}
          {{ select_form.include_exclude }}
        </td>
        <td>
          {{ select_form.division1.errors }}
          {{ select_form.division1 }}
        </td>
        <td>
          {{ select_form.division2.errors }}
          {{ select_form.division2 }}
        </td>
        <td>
          {{ select_form.main_category.errors }}
          {{ select_form.main_category }}
        </td>
        <td>
          {{ select_form.main_category2.errors }}
          {{ select_form.main_category2 }}
        </td>
        <td>
          {{ select_form.geo.errors }}
          {{ select_form.geo }}
        </td>
        <td>
          {{ select_form.dept.errors }}
          {{ select_form.dept }}
        </td>
        <td>
          {{ select_form.industry.errors }}
          {{ select_form.industry }}
        </td>
        <td>
          {{ select_form.company.errors }}
          {{ select_form.company }}
        </td>
        <td><button type="button" class="btn btn-primary" id="btn-add-new-personal-select">Save</button></td>
      </tr>
      {% for select in list_selects %}
      <tr>
        <input type="hidden" name="select_id" value="{{ select.id }}">
        <td>{{ select.include_exclude }}</td>
        <td>{{ select.division1 }}</td>
        <td>{{ select.division2 }}</td>
        <td>{{ select.main_category }}</td>
        <td>{{ select.main_category2 }}</td>
        <td>{{ select.geo }}</td>
        <td>{{ select.dept }}</td>
        <td>{{ select.industry }}</td>
        <td>{{ select.company }}</td>
        <td><button type="submit" class="btn btn-secondary btn-delete-personal-select" select-value="{{ select.id }}">Delete</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- List preview section of panel -->
<div id="master-list-preview">
  {% if sample_select %}
  {% include 'crm/territory_addins/builder_sample_list.html' %}
  {% endif %}
</div>
