
<!-- Included in territory_builder.html
AJAX call from add_master_list_select -->

<h1>
  {% if staff_label %}
  {{ staff_label }}
  {% endif %}
  Personalized Selections
</h1>
<div class="row form-group" >
  {% if staff_group %}
  {% if staff_group|length > 1 %}
  <h3>Please select a staff member</h3>
  {% for staff_member in staff_group %}
  <button class="btn btn-default btn-staff-select" staff-id="{{ staff_member.id }}" type="button">
    {{ staff_member.username }}
  </button>
  {% endfor %}
  {% else %}
  <button class="btn hide btn-staff-select" staff-id="{{ staff_group.first.id }}" type="button">
    {{ staff_member.username }}
  </button>

  {% endif %}
  {% else %}
  <h3 class="errorlist">No staff members have been assigned to this category yet</h3>
  {% endif %}
</div>

<div id="personal-select-details">
</div>
