{% load humanize %}
<div class="row">
  <h1>
    My Prospects for {{ request.session.conference_description }}
</h1>
  <div class="panel panel-primary">
    {% include 'crm/territory_addins/filter_options.html' %}
  </div>
</div>
<div class="row">
  <h4>Results:  <span class="h6">{{ num_records|intcomma }} in this view</span>
    <button class="btn btn-default pull-right" id="toggle-company-view">
      Company List View
    </button>
  </h4>
  <div id="my-territory-list-panel">
    {% include 'crm/territory_addins/my_territory_prospects.html' %}
  </div>
</div>
