<div class="row">
  <!-- <div class="col-sm-12"> -->
    <hr class="style-one" />
  <!-- </div> -->
</div>
<h2>Build Conference Team and Territories</h2>
<!-- See if this can be enclosed in a box -->
<div class="col-sm-12">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">Select Team Members</a></li>
    <li role="presentation"><a href="#master" aria-controls="master" role="tab" data-toggle="tab">Select Master List</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Personalize Selections <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#personal-selects" data-toggle="tab" id="activate-sales">Sales Staff</a>
        </li>
        <li>
          <a href="#personal-selects" data-toggle="tab" id="activate=sponsorship">Sponsorship</a>
        </li>
        <li>
          <a href="#personal-selects" data-toggle="tab" id="activate-pd">PD Staff</a>
        </li>
      </ul>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <!-- Team Selection Tab -->
    <div role="tabpanel" class="tab-pane active fade in" id="team">
      <div class="row">
        <div class="col-sm-12">
          <hr class="style-one" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label>Sales Staff Assignments</label>
            <ul id="sales-staff" class="connectedSortable sort-box">
              {% for user in sales_assigned %}
              <li class="ui-state-default staff-entry" user-id="{{ user.id }}">
                {{ user.username }}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="form-group row">
            <label>Sponsorship Staff Assignments</label>
            <ul id="sponsorship-staff" class="connectedSortable sort-box">
              {% for user in sponsorship_assigned %}
              <li class="ui-state-default staff-entry" user-id="{{ user.id }}">
                {{ user.username }}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="form-group row">
            <label>PD Staff Assignments</label>
            <ul id="pd-staff" class="connectedSortable sort-box">
              {% for user in pd_assigned %}
              <li class="ui-state-default staff-entry" user-id="{{ user.id }}">
                {{ user.username }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <label>Unassigned Staff Members</label>
          <ul id="unassigned-staff" class="connectedSortable sort-box">
            {% for user in userlist %}
            <li class="ui-state-default staff-entry" user-id="{{ user.id }}">
              {{ user.username }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Select master list Tab -->
    <div role="tabpanel" class="tab-pane fade" id="master">
      {% include 'crm/territory_addins/master_territory_panel.html' %}
    </div>

    <div role="tabpanel" class="tab-pane fade" id="personal-selects">
      {% include 'crm/territory_addins/personal_select_person_chooser.html' %}
    </div>
  </div>

</div>
