<!-- AJAX insert into registration/index.html -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title h2">Select report details</h2>
  </div>
  <div class="panel-body">
    <div class="form-group row col-sm-12">
      {{ conference_select_form.event.errors }}
      {{ conference_select_form.event.label_tag }}
      {{ conference_select_form.event }}
    </div>

    <div class="form-group row col-sm-12">
      {{ admin_report_options_form.report.errors }}
      {{ admin_report_options_form.report.label_tag }}
      {% for choice in admin_report_options_form.report %}
      <div class="radio">
        {{ choice }}
      </div>
      {% endfor %}
    </div>

    <div class="form-group row col-sm-12">
      {{ admin_report_options_form.sort.errors }}
      {{ admin_report_options_form.sort.label_tag }}
      {% for choice in admin_report_options_form.sort %}
      <div class="radio">
        {{ choice }}
      </div>
      {% endfor %}
    </div>

    <div class="form-group row col-sm-12">
      {{ admin_report_options_form.destination.errors }}
      {{ admin_report_options_form.destination.label_tag }}
      {% for choice in admin_report_options_form.destination %}
      <div class="radio">
        {{ choice }}
      </div>
      {% endfor %}
    </div>

    <div class="form-group row col-sm-12">
      {{ admin_report_options_form.report_format.errors }}
      {{ admin_report_options_form.report_format.label_tag }}
      {% for choice in admin_report_options_form.report_format %}
      <div class="radio">
        {{ choice }}
      </div>
      {% endfor %}
    </div>

    <div class="form-group row col-sm-12">
      <button type="button" id="submit-admin-reports" class="btn btn-primary col-sm-12">Go!</button>
    </div>


  </div>
</div>
