<!-- AJAX insert into registration/index.html -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title h2">Select Mass Mail Details</h2>
  </div>
  <div class="panel-body">
    <div class="form-group row col-sm-12">
      {{ conference_select_form.event.label_tag }}
      {{ conference_select_form.event.errors }}
      {{ conference_select_form.event }}
    </div>
    <div class="form-group row col-sm-12">
      label for letter choice<br />
      radio choices
    </div>
  </div>
</div>
