<table class="table table-striped">
  <input type="hidden" value="{{ event.id }}" id="edited-event-id" />
  <thead class="thead-inverse">
    <tr>
      <th class="col-sm-1">Primary?</th>
      <th class="col-sm-6">Description</th>
      <th class="col-sm-2">Start Date</th>
      <th class="col-sm-2">End Date</th>
      <th class="col-sm-1">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for option in event_option_set %}
    <tr class="form-warning" id="delete-option-warning{{ option.id }}">
      <td colspan="4">
        <p>
          <strong>Warning! </strong>
          Clicking "Delete" again will permanently delete the option below!!
        </p>
      </td>
      <td>
        <button type="button" class="btn btn-info btn-xs option-manage-btn unhide-btn"
          id="unhide-option-{{ option.id }}" name="rehide"
          option-val="{{ option.id }}">
          Don't Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>
        {% if option.primary %}
        <input type="checkbox" class="form-control" checked="checked"id="primary-{{ option.id }}"/>
        {% else %}
        <input type="checkbox" class="form-control" id="primary-{{ option.id }}" />
        {% endif %}
      </td>
      <td><input class="form-control" id="option-name-{{ option.id }}" value="{{ option.name }}" /></td>
      <td><input class="form-control option-startdate" id="option-startdate-{{ option.id }}" value="{{ option.startdate|date:'Y-m-d' }}" /></td>
      <td><input class="form-control option-enddate" id="option-enddate-{{ option.id }}" value="{{ option.enddate|date:'Y-m-d' }}" /></td>
      <td>
        <button type="button" class="btn btn-danger btn-xs option-manage-btn" id="delete-option-{{ option.id }}" name="delete" option-val="{{ option.id }}">
          Delete&nbsp;
        </button><br />
        <button type="button" class="btn btn-success btn-xs option-manage-btn" id="update-option-{{ option.id }}" name="update" option-val="{{ option.id }}">
          Update
        </button>
      </td>
    </tr>
    {% endfor %}
    <tr id="new-option-row">
      <td>
        {{ conference_option_form.primary }}
        {{ conference_option_form.primary.errors }}
      </td>
      <td>
        {{ conference_option_form.name }}
        {{ conference_option_form.name.errors }}
      </td>
      <td>
        {{ conference_option_form.startdate }}
        {{ conference_option_form.startdate.errors }}
      </td>
      <td>
        {{ conference_option_form.enddate }}
        {{ conference_option_form.startdate.errors }}
      </td>
      <td>
        <button type="button" class="btn btn-success btn-xs option-manage-btn"
          id="add-option-button" name="add">
          Save
        </button>
      </td>
    </tr>
  </tbody>
</table>
