{% if edit_action != 'blank' %}
  {% if edit_action == 'new' %}
  <h2>New Conference Input</h2>
  {% else %}
  <h2>Edit Conference Input</h2>
  <input type="hidden" value="{{ event.id }}" id="edited-event-id" />
  {% endif %}
  <div class="row">
    <div class="col-sm-3">
      {{ conference_edit_form.number.errors }}
      {{ conference_edit_form.number.label_tag }}
      {{ conference_edit_form.number }}
    </div>
    <div class="col-sm-3 col-sm-offset-2">
      <!-- Need to add in date picker widget
          http://stackoverflow.com/questions/32892847/add-calendar-widget-to-django-form -->
      {{ conference_edit_form.date_begins.errors }}
      {{ conference_edit_form.date_begins.label_tag }}
      {{ conference_edit_form.date_begins }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      {{ conference_edit_form.title.errors }}
      {{ conference_edit_form.title.label_tag }}
      {{ conference_edit_form.title }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" id="conference-city-input">
      <!-- Need to add JS on keyup to limit venue choices -->
      {{ conference_edit_form.city.errors }}
      {{ conference_edit_form.city.label_tag }}
      {{ conference_edit_form.city }}
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      {{ conference_edit_form.state_prov.errors }}
      {{ conference_edit_form.state_prov.label_tag }}
      {{ conference_edit_form.state_prov }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      {{ conference_edit_form.hotel.errors }}
      {{ conference_edit_form.hotel.label_tag }}
      {{ conference_edit_form.hotel }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      {{ conference_edit_form.registrar.errors }}
      {{ conference_edit_form.registrar.label_tag }}
      {{ conference_edit_form.registrar }}
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      {{ conference_edit_form.developer.errors }}
      {{ conference_edit_form.developer.label_tag }}
      {{ conference_edit_form.developer }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      {{ conference_edit_form.company_brand.errors }}
      {{ conference_edit_form.company_brand.label_tag }}
      {{ conference_edit_form.company_brand }}
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      {{ conference_edit_form.billing_currency.errors }}
      {{ conference_edit_form.billing_currency.label_tag }}
      {{ conference_edit_form.billing_currency }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      {{ conference_edit_form.gst_charged.errors }}
      {{ conference_edit_form.gst_charged.label_tag }}
      {{ conference_edit_form.gst_charged }}
    </div>
    <div class="col-sm-2 col-sm-offset-1">
      {{ conference_edit_form.hst_charged.errors }}
      {{ conference_edit_form.hst_charged.label_tag }}
      {{ conference_edit_form.hst_charged }}
    </div>
    <div class="col-sm-2 col-sm-offset-1">
      {{ conference_edit_form.qst_charged.errors }}
      {{ conference_edit_form.qst_charged.label_tag}}
      {{ conference_edit_form.qst_charged }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      {{ conference_edit_form.gst_rate.errors }}
      {{ conference_edit_form.gst_rate.label_tag }}
      {{ conference_edit_form.gst_rate }}
    </div>
    <div class="col-sm-2 col-sm-offset-1">
      {{ conference_edit_form.hst_rate.errors }}
      {{ conference_edit_form.hst_rate.label_tag }}
      {{ conference_edit_form.hst_rate }}
    </div>
    <div class="col-sm-2 col-sm-offset-1">
      {{ conference_edit_form.qst_rate.errors }}
      {{ conference_edit_form.qst_rate.label_tag}}
      {{ conference_edit_form.qst_rate }}
    </div>
  </div>
  <div class="panel panel-info event-options-box">
    <div class="panel-heading">
      <h2 class="panel-title h2">Event Registration Options</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th class="col-sm-1">Primary?</th>
            <th class="col-sm-6">Description</th>
            <th class="col-sm-2">Start Date</th>
            <th class="col-sm-2">End Date</th>
            <th class="col-sm-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td>{{ option.name }}</td>
            <td>{{ option.startdate }}</td>
            <td>{{ option.enddate }}</td>
            <td>
              <button type="button" class="btn btn-danger btn-xs">Delete</button>
            </td>
          </tr>
          {% for option in event_option_set %}
          <tr>
            <td>
              <input type="checkbox" />
            </td>
            <td>
              {{ option.name }}
            </td>
            <td>
              {{ option.startdate }}
            </td>
            <td>
              {{ option.enddate }}
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-xs" id="delete-option-{{ option.id }}">
                Delete
              </button>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td>{{ conference_option_form.primary }}</td>
            <td>{{ conference_option_form.name }}</td>
            <td>{{ conference_option_form.startdate }}</td>
            <td>{{ conference_option_form.enddate }}</td>
            <td>
              <button type="button" class="btn btn-success btn-xs" id="add-option-button">
                Save
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
