<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title h2">Passwords</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <!-- <tr>
        <th class="col-sm-2">
          Event Option
        </th>
        <th class="col-sm-5">
          Username
        </th>
        <th class="col-sm-5">
          Password
        </th>
      </tr> -->
      {% for option in event.eventoptions_set.all %}
      <tr>
        <td>
          <label class="form-control-label">{{ option.name }}</label>
        </td>
        <td>
          <input name="username_{{ option.pk }}" class="form-control" placeholder="Username" value="{{ event.number }}delegate"/>
        </td>
        <td>
          <input name="password_{{ option.pk }}" class="form-control" placeholder="Password"/>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
