<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title h2">Passwords</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th class="col-sm-3">
          Event Option
        </th>
        <th class="col-sm-9">
          Password
        </th>
      </tr>
      {% if event.eventoptions_set.exists %}
      {% for option in event.eventoptions_set.all %}
      <tr>
        <td>
          <label class="form-control-label">{{ option.name }}</label>
        </td>
        <td>
          <input name="password_{{ option.pk }}" class="form-control" placeholder="Password" required="true"/>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td>
          <label class="form-control-label">Event Documentation</label>
        </td>
        <td>
          <input name="password_all" class="form-control" placeholder="Password"/>
        </td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
