<strong>Editing: {{ venue.name }}</strong>
<a href="#venue{{ venue.id }}" class="btn btn-success btn-xs edit-button"
  venue-id="{{ venue.id }}" venue-action="save" id="save-venue-changes">
  Save
</a><br />
<button type="button" class="btn btn-danger btn-xs delete-venue-button"
  venue-id="{{ venue.id }}">
  Delete Venue
</button><br />
<div class="form-warning" id="delete-venue-warning{{ venue.id }}" >
<h3><strong>Warning</strong></h3>
<p>
  Clicking "Delete" again will permanently delete this Venue!!
</p>
</div>
{{ venue_form }}
