<strong>{{ venue.name }}</strong>
<button type="button" class = "btn btn-success btn-xs select-venue-button float-right pad-small-button"
  venue-id="{{ venue.id }}">
  Select
</button>
<a href="#venue{{ venue.id }}" class="btn btn-warning btn-xs pad-small-button"
  venue-id="{{ venue.id }}" venue-action="edit">
  Edit
</a><br />
{{ venue.address }}<br />
{{ venue.city }}, {{ venue.state_prov }} {{ venue.postal_code }}<br />
Tel: {{ venue.phone }}<br />
Web Site:
{% if venue.hotel_url %}<a href="{{ venue.hotel_url }}" target="_blank">{{ venue.hotel_url }}</a>
{% else %}{{ venue.hotel.url }}
{% endif %}
