<div class="col-sm-3 col-md-3 venue-sidebar fill" id="venue-sidebar">
  <h3>Venues</h3>
  <div class="venue-list">
    {% if venue_list %}
    <ul class="list-group">
      {% for venue in venue_list %}
      <li class="list-group-item" id="list-item-{{ venue.id }}">
        {% include 'registration/addins/venue_detail.html' %}
      </li>
      {% endfor %}
    </ul>
    <hr class="venue-hr" />
    {% endif %}
  </div>
  <div class="add-venue">
    <a href="#new_conf_entry" class="btn btn-info"
      data-toggle="collapse">
      Add New Venue
    </a>
    {% if errors %}
    <div class="add-venue-form collapse in" id="new_conf_entry">
    {% else %}
    <div class="add-venue-form collapse" id="new_conf_entry">
    {% endif %}
        <div id="add-venue-toggle">
          {{ venue_form }}
        </div>
        <button type="button" class="btn btn-primary btn-save-venue"
          id="save-new-venue">
          Save
        </button>
    </div>
  </div>
</div>
