<div id="selected-company-details">
  <input type="hidden" id="inserted-company-id" value="{{ company.id }}" />
  {% include 'delegate/addins/company_sidebar_selected.html' %}
</div>
<div id='company-match-list'>
  {% if company_match_list %}
  {% include 'delegate/addins/company_sidebar_list.html' %}
  {% else %}
  {% include 'delegate/addins/company_sidebar_blank.html' %}
  {% endif %}
</div>
<div id="new-company-section">
  <a href="#new-company-entry" class="btn btn-info"
    data-toggle="collapse">
    Add New Company
  </a>
  {% if errors %}
  <div class="add-company-form collapse in" id="new-company-entry">
  {% else %}
  <div class="add-company-form collapse" id="new-company-entry">
  {% endif %}
    <div id="add-company-toggle">
      {{ new_company_form }}
    </div>
    <br />
    <button type="button" class="btn btn-primary btn-save-venue"
      id="save-new-company">
      Save
    </button>
  </div>
</div>
