<div class="modal fade" id="companyFieldCompareModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h3 class="modal-title">Please Review</h3>
      </div>

      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-sm-12">
              <p>
                Some of the values in your form differ from the values saved
                in the database.  Please review and determine which values
                should be used for the record
              </p>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              Please select the values to use
            </div>
            <div class="panel-body" id="company-field-selectors">

            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="register-from-field-compare-modal">Submit Registration</button>
      </div>
    </div>
  </div>
</div>
