<div class="modal fade" id="companyCrmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h3 class="modal-title">New Customer!</h3>
      </div>

      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-sm-12">
              <p>
                This is a new customer for Infonex.  Before processing the registration,
                we need to verify the following:
              </p>
              <ul>
                {% if not company %}
                <li>
                  What company to assign this person to
                </li>
                {% endif %}
                {% if not crm_match %}
                <li>
                  What CRM record should be associated with this record.
                </li>
                {% endif %}
              </ul>
              <p>
                My best guess is shown below.  You can accept it, choose another
                option, or cancel and go back to editing the record.
              </p>
              <p>
                (I'm not that smart yet, so please use your superior human brain
                to check my work).
              </p>
            </div>
          </div>

          {% if not company %}
          <div class="panel panel-primary">
            <div class="panel-heading">
              Company Selection
            </div>
            <div class="panel-body">
              <p>
                Here are some suggestions for possible company matches.  If you
                see one that matches this customer's company, please select that.
                Otherwise, select 'No Match - Create New Company Record'.
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-sm-1">
                      Select?
                    </th>
                    <th class="col-sm-7">
                      Option
                    </th>
                    <th class="col-sm-4">
                      # of Customers at Location
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {% if not company_best_guess %}
                      <input type="radio" name="company-select" value="new" checked />
                      {% else %}
                      <input type="radio" name="company-select" value="new" />
                      {% endif %}
                    </td>
                    <td>
                      <b>NO MATCH</b> - Create New Company Record
                    </td>
                    <td>
                      None
                    </td>
                  </tr>
                  {% for suggested_company in company_suggest_list %}
                  <tr>
                    <td>
                      {% if suggested_company == company_best_guess %}
                      <input type="radio" name="company-select" value="{{ suggested_company.pk }}" checked />
                      {% else %}
                      <input type="radio" name="company-select" value="{{ suggested_company.pk }}" />
                      {% endif %}
                    </td>
                    <td>
                      <b>{{ suggested_company.name }}</b><br />
                      {% if suggested_company.address1 %}{{ suggested_company.address1 }}<br />{% endif %}
                      {% if suggested_company.address2 %}{{ suggested_company.address2 }}<br />{% endif %}
                      {% if suggested_company.city %}{{ suggested_company.city }}, {%endif %}{% if suggested_company.state_prov %}{{ suggested_company.state_prov }}  {% endif %}{{ suggested_company.postal_code }}
                    </td>
                    <td>
                      {{ suggested_company.registrants_set.all|length }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}

          {% if not crm_match %}
          <div class="panel panel-primary">
            <div class="panel-heading">
              CRM Database Match
            </div>
            <div class="panel-body">
              <p>
                Here are some suggestions for possible matches in the CRM system.
                If you see one that matches this customer, please select that
                record.  Otherwise, select 'New CRM record'
              </p>
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-sm-1">
                      Select?
                    </th>
                    <th class="col-sm-11">
                      Option
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {% if not crm_best_guess %}
                      <input type="radio" name="crm-select" value="new" checked />
                      {% else %}
                      <input type="radio" name="crm-select" value="new" />
                      {% endif %}
                    </td>
                    <td>
                      <b>NO MATCH</b> - Create New CRM Record
                    </td>
                  </tr>
                  {% for suggested_match in crm_suggest_list %}
                  <tr>
                    <td>
                      {% if suggested_match == crm_best_guess %}
                      <input type="radio" name="crm-select" value="{{ suggested_match.pk }}" checked />
                      {% else %}
                      <input type="radio" name="crm-select" value="{{ suggested_match.pk }}" />
                      {% endif %}
                    </td>
                    <td>
                      <b>{{ suggested_match.name }}</b><br />
                      {% if suggested_match.title %}{{ suggested_match.title }}<br />{% endif %}
                      {% if suggested_match.company %}{{ suggested_match.company }}<br />{% endif %}
                      {% if suggested_match.city %}{{ suggested_match.city }}, {% endif %}{% if suggested_match.state_prov %}{{ suggested_match.state_prov }}  {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="register-from-crm-modal">Proceed</button>
      </div>
    </div>
  </div>
</div>
