<div class="modal fade" id="confSetupModal" tabindex="-1" role="dialog">
  <input type="hidden" id="first-reg" value="{{ first_reg }}" />
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h3 class="modal-title">First Registration!!</h3>
      </div>

      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-sm-12">
              <p>
                It looks like you're about to process the first registration for
                this event.  Before proceeding, please ensure the information
                that's been entered is correct.
              </p>
              <p>
                If you need to fix any details, please choose the 'edit event'
                button below.  Otherwise, click 'Proceed'.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>Conference Details</h4>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Event Number:</label>
            <div class="col-sm-8">
              {{ conference.number }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Event Title:</label>
            <div class="col-sm-8">
              {{ conference.title }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Event Location:</label>
            <div class="col-sm-8">
              {{ conference.city }}, {{ conference.state_prov }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Venue:</label>
            <div class="col-sm-8">
              {{ conference.hotel }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Start Date:</label>
            <div class="col-sm-8">
              {{ conference.date_begins }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Event URL:</label>
            <div class="col-sm-8">
              {{ conference.event_web_site }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Registrar:</label>
            <div class="col-sm-8">
              {{ conference.registrar }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Developer:</label>
            <div class="col-sm-8">
              {{ conference.developer }}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Company Brand:</label>
            <div class="col-sm-8">
              {% if conference.company_brand %}
              {{ conference.get_company_brand_display }}
              {% else %}
              <span class="errorlist">NOT SET</span>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Currency:</label>
            <div class="col-sm-8">
              {% if conference.billing_currency %}
              {{ conference.billing_currency }}
              {% else %}
              <span class="errorlist">NOT SET</span>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">Registration Options</label>
            <div class="col-sm-8">
              {% if conference.eventoptions_set.count > 0 %}
              <ul class="list-group">
                {% for option in conference.eventoptions_set.all %}
                <li class="list-group-item">
                  {{ option.name }}: {{ option.startdate }} - {{ option.enddate }}
                </li>
                {% endfor %}
              </ul>
              {% else %}
              No options set (conference only)
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>Tax Information:</h4>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">HST:</label>
            <div class="col-sm-8">
              {{ conference.hst_charged|yesno:"Yes,No,Not Set"}}
              {% if conference.hst_charged %} - {{ conference.hst_rate|floatformat:2 }}%{% endif %}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">GST:</label>
            <div class="col-sm-8">
              {{ conference.gst_charged|yesno:"Yes,No,Not Set" }}
              {% if conference.gst_charged %} - {{ conference.gst_rate|floatformat:2 }}%{% endif %}
            </div>
          </div>
          <div class="row">
            <label class="col-sm-4">QST:</label>
            <div class="col-sm-8">
              {{ conference.qst_charged|yesno:"Yes,No,Not Set" }}
              {% if conference.qst_charged %} - {{ conference.qst_rate|floatformat:4 }}%{% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="proceed-with-registration">Proceed</button>
        <button type="button" class="btn btn-warning" id="edit-event">Edit Event</button>
      </div>
    </div>
  </div>
</div>
