{% if crm_match %}
<h3>Matched Contact from CRM</h3>
<ul class="list-group">
  <li class="list-group-item" id="crm-{{ crm_match.id }}">
    <strong>{{ crm_match.name }}</strong>
    <button type="button" class="btn btn-success btn-xs crm-list-action" disabled>
      Linked
    </button><br />
    {{ crm_match.title }}<br />
    {{ crm_match.company }}
    <a href="#matched-details"
      class="btn btn-default btn-xs crm-list-action" data-toggle="collapse">
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </a><br />
    <div class="crm-details collapse" id="matched-details">
      Tel: {{ crm_match.phone }}<br />
      Email: {{ crm_match.email }}<br />
      Location: {{ crm_match.city }} {{ crm_match.state_prov }}<br />
      Last modified: {{ crm_match.date_modified }}
    </div>
  </li>
</ul>
{% else %}
<input type="hidden" id="crm-match-value" value="" />
{% endif %}
