<div class="panel panel-primary">
  <div class="panel-heading">
    Delegate Matches (Only at the same company)
  </div>
  <div class="panel-body">
    {% if registrant_list %}
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm-1">
            Select?
          </th>
          <th class="col-sm-11">
            Individual
          </th>
        </tr>
      </thead>
      <tbody>
        {% for registrant in registrant_list %}
        <tr>
          <td>
            <button type="button" class="btn btn-success btn-select-sub" sub-value="del{{ registrant.pk }}" id="del-sub-btn-{{ registrant.pk }}">Select</button>
          </td>
          <td>
            <b>{{ registrant.first_name }} {{ registrant.last_name }}</b>
            {% for regdetail in registrant.regdetails_set.all %}
            {% if regdetail.conference == conference %}
            <span class="errorlist reg-warning" warning-for="{{ registrant.pk }}"> ATTN: This Person is Already Registered!!</span>
            {% endif %}
            {% endfor %}
            <br />
            {% if registrant.title %}{{ registrant.title }}<br />{% endif %}
            {% if registrant.company.name %}{{ registrant.company.name }}<br />{% endif %}
            {% if registrant.company.city %}{{ registrant.company.city }}, {% endif %}{% if registrant.company.state_prov %}{{ registrant.company.state_prov }}{% endif %}<br />
            <b>Email: </b>{% if registrant.email1 %}{{ registrant.email1 }}{% else %}Unknown{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>No Previous Delegates Match</h3>
    {% endif %}
  </div>
  <div class="panel-heading">
    CRM Matches
  </div>
  <div class="panel-body">
    {% if crm_list %}
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm-1">
            Select?
          </th>
          <th class="col-sm-11">
            Individual
          </th>
        </tr>
      </thead>
      <tbody>
        {% for contact in crm_list %}
        <tr>
          <td>
            <button type="button" class="btn btn-success btn-select-sub" sub-value="crm{{ contact.pk }}" >Select</button>
          </td>
          <td>
            <b>{{ contact.name }}</b><br />
            {% if contact.title %}{{ contact.title }}<br />{% endif %}
            {% if contact.company %}{{ contact.company }}<br />{% endif %}
            <b>Email: </b>{% if contact.email %}{{ contact.email }}{% else %}Not available{% endif %}<br />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h3>No matching CRM Records</h3>
    {% endif %}
  </div>
  <div class="panel-heading">
    Delegate Information
  </div>
  <div class="panel-body">
    <button class="btn btn-info col-sm-12 btn-select-sub" sub-value="new">Create New Customer</button>
  </div>
</div>
