<div class="panel panel-primary">
  <div class="panel-heading">
    Delegate Matches
  </div>
  <div class="panel-body">
    {% for registrant in registrant_list %}
    {{ registrant.first_name }} {{ registrant.last_name }}<br />
    {{ registrant.title }}<br />
    {{ registrant.company }}<br />
    {{ registrant.email1 }}
    {% endfor %}
  </div>
  <div class="panel-heading">
    CRM Matches
  </div>
  <div class="panel-body">
    match info here
  </div>
  <div class="panel-heading">
    Delegate Information
    <span class="float-right glyphicon glyphicon-chevron-down glyph-button"></span>
  </div>
  <div class="panel-body collapse in">
    New delegate fields here
  </div>
</div>
