{% extends 'crm/base.html' %}

{% block title %}Create Sales Territory | {% endblock %}

{% block content %}
<h1>Create/Edit Sales Territory</h1>
<h3>Selecting for: {{ employee }} - {{ event }}</h3><br>

<h2>Selection Criteria</h2>

<div class="territory-selects">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Include/Exclude</th>
                <th>Main Category (f1)</th>
                <th>Main Category 2</th>
                <th>Division1</th>
                <th>Division2</th>
                <th>Geo</th>
                <th>Industry</th>
                <th>Company Name</th>
                <th>Person</th>
                <th>Save/Delete</th>
            </tr>
        </thead>
        <tbody>
            <form action="{% url 'crm:create_territory' %}" method="post" name="add_selection">
                {% csrf_token %}
                <input type="hidden" name="page_source" value="create_territory" />
                <tr>
                    <td>{{ select_form.include_exclude }}</td>
                    <td>{{ select_form.main_category }}</td>
                    <td>{{ select_form.main_category2 }}</td>
                    <td>{{ select_form.division1 }}</td>
                    <td>{{ select_form.division2 }}</td>
                    <td>{{ select_form.geo }}</td>
                    <td>{{ select_form.industry }}</td>
                    <td>{{ select_form.company }}</td>
                    <td></td>
                    <td><button type="submit" class="btn btn-primary" name="submit_option" value="save">Save</button></td>
                </tr>
            </form>
            {% for select in list_selects %}
                <tr>
                    <form action="{% url 'crm:create_territory' %}" method="post" name="delete_selection">
                        {% csrf_token %}
                        <input type="hidden" name="select_id" value="{{ select.id }}">
                        <td>{{ select.include_exclude }}</td>
                        <td>{{ select.main_category }}</td>
                        <td>{{ select.main_category2 }}</td>
                        <td>{{ select.division1 }}</td>
                        <td>{{ select.division2 }}</td>
                        <td>{{ select.geo }}</td>
                        <td>{{ select.industry }}</td>
                        <td>{{ select.company }}</td>
                        <td>{{ select.person.name }}</td>
                        <td><button type="submit" class="btn btn-secondary" name="submit_option" value="delete">Delete</button></td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br><br>
<h2>Current Territory</h2>

<div class="current-territory">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th class="col-sm-2">Person Name</th>
                <th class="col-sm-2">Title</th>
                <th class="col-sm-2">Company</th>
                <th class="col-sm-2">Last Modified</th>
            </tr>
        </thead>
        <tbody>
            {% for person in person_list %}
                <tr>
                    <td class="col-sm-2"><a href="{% url 'crm:detail' person.id %}">{{ person.name }}</a></td>
                    <td class="col-sm-2">{{ person.title }}</td>
                    <td class="col-sm-2">{{ person.company }}</td>
                    <td class="col-sm-2">{{ person.date_modified }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% include 'crm/pagination.html' %}

{% endblock %}
