{% extends 'crm/base.html' %}

{% block title %} Delete {{ person.name }} | {% endblock %}

{% block content %}

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Warning:</span>
    <strong>Warning:</strong> Clicking <i>Delete Record</i> will permanently remove this person from the database!
</div>

<div class="row">
    <div class="col-sm-5">
        <ul class="list-group">
            <li class="list-group-item active">
                <h2 class="list-group-item-heading">{{ person.name }}</h2>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Last Revised</h4>
                <p class="list-group-item-text">{{ person.date_modified }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Title</h4>
                <p class="list-group-item-text">{{ person.title }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Company</h4>
                <p class="list-group-item-text">{{ person.company }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Phone</h4>
                <p class="list-group-item-text">{{ person.phone }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Email</h4>
                <p class="list-group-item-text">{{ person.email }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">City</h4>
                <p class="list-group-item-text">{{ person.city }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">State/Province</h4>
                <p class="list-group-item-text">{{ person.state_prov }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Department</h4>
                <p class="list-group-item-text">{{ person.dept }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Main Division</h4>
                <p class="list-group-item-text">{{ person.main_category }}</p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Main Sales Division</h4>
                <p class="list-group-item-text">{{ person.division1 }}</p>
            </li>
        </ul>
    </div>

    {% if person.contact_set %}
        <div class="col-sm-7">
            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Warning:</span>
                The following contact history will also be deleted
            </div>

            <table class="table table-condensed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Date/Time</th>
                        <th>User</th>
                        <th>Event</th>
                        <th>Method</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in person.contact_set.all|dictsortreversed:"date_of_contact" %}
                        <tr>
                            <td>{{ contact.date_of_contact }}</td>
                            <td>{{ contact.author }}</td>
                            <td>{{ contact.event }}</td>
                            <td>{{ contact.get_method_display }}</td>
                            <td>{{ contact.notes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-lg btn-success" href="{% url 'crm:detail' person.id %}">Keep Record</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-lg btn-danger" href="{% url 'crm:confirm_delete' person.id %}">Delete record</a>
    </div>
</div>

{% endblock %}