{% extends 'crm/base.html' %}

{% block title %}{{ person.name }} | {% endblock %}

{% block content %}

    <div class="person-description">
        <h1>
            {% if person.has_registration_history %}
                <span title="Past Customer" class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>
            {% endif %}
            {{ person.name }}, {{ person.title }}, {{ person.company }}
            <a href="{% url 'crm:new_person' %}?status=copy&id={{ person.id }}&ref=absolute" class="link-icons">
                <span title="Create New Person Based on Current" class="glyphicon glyphicon-duplicate"></span></a>
            <a href="{% url 'crm:new_person' %}?status=new&ref=absolute" class="link-icons">
                <span title="Create Blank New Person" class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'crm:delete_person' %}?id={{ person.id }}&ref=absolute" class="red-link-icons">
                <span title="Delete Current Record" class="glyphicon glyphicon-trash"></span>
            </a>
        </h1>
        {% if territory_exists %}
            <h3>
                <a href="{% url 'crm:add_person_to_territory' person.id %}">Add to Current Sales Territory</a>&nbsp;
                <span class="h4">(Salesperson: {{ salesperson.get_username }} -
                Event: {{ event.number }} - {{ event.title }})</span>

            </h3><br>
        {% endif %}

    </div>

    <div class="person-form-errors">
        {% include 'crm/person_detail_form_errors.html' %}
    </div>

    <div class="person-details">
        <form action="{% url 'crm:detail' person.id %}" method="post" name="person">

            {% include 'crm/person_detail_form.html' %}

        </form>
    </div>

    <div class="contact-history">
        {% include 'crm/contact_info_for_detail.html' %}
    </div>

    <div class="add contact">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Contact Info</h2>
            </div>
            <div class="panel-body">
                <form action="{% url 'crm:detail_paginated' %}?pk={{ person.pk }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="page_source" value="paginated">
                    {% include 'crm/add_contact_form.html' %}
                </form>
            </div>
        </div>
    </div>

    <div class="update category">
        <form action="{% url 'crm:detail' person.id %}" method="post" name="category">
            {% include 'crm/categorization_info.html' %}
        </form>
    </div>

{% endblock %}
