{% extends 'crm/base.html' %}

{% load staticfiles %}

{% block title %}{{ person.name }} | {% endblock %}

{% block content %}
    <div class="person-description">
        <h1>
            {% if person.has_registration_history %}
                <span title="Past Customer" class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>
            {% endif %}
            {{ person.name }}, {{ person.title }}, {{ person.company }}
            <a href="{% url 'crm:new_person' %}?status=copy&id={{ person.id }}&ref=paginated" class="link-icons">
                <span title="Create New Person Based on Current" class="glyphicon glyphicon-duplicate"></span></a>
            <a href="{% url 'crm:new_person' %}?status=new&ref=paginated" class="link-icons">
                <span title="Create Blank New Person" class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'crm:delete_person' %}?id={{ person.id }}&ref=paginated" class="red-link-icons">
                <span title="Delete Current Record" class="glyphicon glyphicon-trash"></span>
            </a>
        </h1>
        <p><a href="{% url 'crm:detail' person.id %}">Permalink to record</a></p>


        <h2>
            <a href="{% url 'crm:territory' %}" class="normal-text">Sales Territory</a> for: {{ salesperson.get_username }} -
            Event: {{ active_event.number }} - {{ active_event.title }}
        </h2>
    </div>

{% include 'crm/pagination.html' %}

    <div class="flag">
        <form action="{% url 'crm:flag_record' %}" method="post" name="flag">
            {% csrf_token %}
            <input type="hidden" name="page_source" value="detail" />
            <input type="hidden" value="{{ person.id }}" name="person_id"/>
            <input type="hidden" value="{{ person_list.number }}" name="page"/>
            <input type="hidden" value="{{ forloop.counter }}" name="page_index_num"/>

            <div class="form-group row">
                <label for="{{ flag_form.flag.id_for_label }}" class="col-sm-2 form-control-label">Flag</label>
                <div class="col-sm-1">
                    {% if person.flag_val == '1' %}
                        <img src={% static 'crm/images/flag_red.png' %}>
                    {% elif person.flag_val == '2' %}
                        <img src={% static 'crm/images/flag_green.png' %}>
                    {% elif person.flag_val == '3' %}
                        <img src={% static 'crm/images/flag_blue.png' %}>
                    {% elif person.flag_val == '4' %}
                        <img src={% static 'crm/images/flag_orange.png' %}>
                    {% elif person.flag_val == '5' %}
                        <img src={% static 'crm/images/flag_yellow.png' %}>
                    {% elif person.flag_val == '6' %}
                        <img src={% static 'crm/images/flag_pink.png' %}>
                    {% elif person.flag_val == '7' %}
                        <img src={% static 'crm/images/flag_pirate.png' %}>
                    {% else %}
                        <img src={% static 'crm/images/flag_none.png' %}>
                    {% endif %}
                </div>
                <div class="col-sm-1">{{ flag_form.flag }}</div>
                <div class="col-sm-2"><button type="submit" class="btn btn-primary">Change</button></div>
            </div>
        </form>
    </div>

    <div class="person-form-errors">
        {% include 'crm/person_detail_form_errors.html' %}
    </div>

    <div class="person-details">
        <form action="{% url 'crm:detail_paginated' %}?pk={{ person.pk }}" method="post" name="person">
            {% include 'crm/person_detail_form.html' %}
        </form>
    </div>

    {% if person.has_registration_history %}
    {% include 'crm/reg_history_detail.html' %}
    {% endif %}

    <div class="contact-history">
        {% include 'crm/contact_info_for_detail.html' %}
    </div>

    <div class="add contact">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Add Contact Info</h2>
            </div>
            <div class="panel-body">
                <form action="{% url 'crm:detail_paginated' %}?pk={{ person.pk }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="page_source" value="paginated">
                    {% include 'crm/add_contact_form.html' %}
                </form>
            </div>
        </div>
    </div>

    <div class="update category">
        <form action="{% url 'crm:detail' person.id %}" method="post" name="category">
            {% include 'crm/categorization_info.html' %}
        </form>
    </div>

{% endblock %}
