{% extends 'crm/base.html' %}
{% load staticfiles %}
{% load crm_extras %}

{% block script_includes %}
<link href="{% static 'crm/crm_style.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>
      <a href="{% url 'home:index' %}"><img src={% static 'crm/images/INFONEX-logo.png' %}></a>&nbsp;&nbsp;
      CRM System
    </h1>
  </div>
</div>
<div class="container-fluid fill">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9 col-sm-push-3">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs"
          data-toggle="offcanvas" title="Toggle sidebar">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>
      </p>
      <div class="col-sm-12 col-md-12 right-main-panel" id="main-panel">
        <div class="row">
          <div class="col-sm-3 col-md-3">
            <h2>Work on a Conference</h2>
            <p>Allows you to work with a defined sales territory for an individual conference</p>


            <form action="{% url 'crm:territory' %}" method="post">
              {% csrf_token %}
              <fieldset class="form-group">
                <label for="{{ territory_form.event.id_for_label }}">Select event:</label>
                {{ territory_form.event }}
              </fieldset>
              <button type="submit" class="btn btn-success">Go</button>
              {% if user_is_admin %}
              {% endif %}
            </form>


          </div>
          <div class="col-sm-4">
            <h2>Search Records</h2>
            <p>Takes you to a search form where you can look for individuals in the database</p>
            <p>
              <a class="btn btn-default" href="{% url 'crm:search' %}">Search Database &raquo;</a>
            </p>
          </div>
          {% if user_is_admin %}
          <div class="col-sm-4">
            <h2>Admin Functions</h2>
            <p>This should take you to a page (not default admin) with options to</p>
            <ul>
              <li>Add a conference</li>
              <li>Manipulate territories</li>
              <li>Drill down on stats for individual employees</li>
            </ul>
            <p>
              <a href="/crm/manage_territory/" class="btn btn-default">Create/Edit Territory</a>
            </p>
          </div>
          {% endif %}
        </div>
        <div class="row">
          {% if request.user|has_group:'sales' or request.user|has_group:'sponsorship' or request.user.is_superuser %}
          {% include 'crm/addins/unpaid_list.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    {% include 'crm/addins/sidebar.html' %}
  </div>

</div>
{% endblock %}
