{% extends 'crm/base.html' %}

{% block content %}

<h1>The form on this page is not functional</h1>
<h2>For search please use:
<a href="{% url 'crm:search_persons' %}">Search Page</a></h2>

<form action="" method="get">
    {{ person_filter.form.as_p }}<br>
    {{ person_filter.form.name }}
    <input type="submit" />
</form>
<table>
    <tr>
        <th>Person Name</th>
        <th>Title</th>
        <th>Company</th>
        <th>Last Modified</th>
    </tr>

{% for person in person_filter %}
    <tr>
        <td><a href="{% url 'crm:detail' person.id %}">{{ person.name }}</a></td>
        <td>{{ person.title }}</a></td>
        <td>{{ person.company }}</a></td>
        <td>{{ person.date_modified }}</a></td>
    </tr>

{% endfor %}
</table>
<br>
{% endblock %}
