html {
  height: 100%;
}
body {
  height: 100%;
}
.fill {
  height: 100%;
}
.venue-hr {
  border-color: #41454c;
}
.add-venue-form {
  margin-top: 10px;
}
.btn-save-venue {
  margin-top: 10px;
  margin-bottom: 20px;
}
.list-group-item {
  background-color: #F5F5F5;
  border-color: #999
}
.edit-button, .delete-venue-button, .conference-change-button {
  float: right;
  border-top: 5px;
  border-bottom: 5px;
}
.btn-choose-venue {
  margin-top: 10px;
}
.search-panel {
  margin-top: 0;
}
.event-options-box {
  margin-top: 20px;
}
.event-checkbox {
  margin-top: 0px;
  border-top: 0px;
  padding-top: 0px;
}
