{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}Confirmation Options | {% endblock %}

{% block script_includes %}
<script type="text/javascript" src="{% static 'delegate/javascript/confirmation.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'delegate/confirmation_addins/email_modal.html' %}
<div class="container fluid-fill" id="main">
  <div id="stored-variables">
    <input type="hidden" name="registrant_id" value="{{ registrant.id }}" />
    <input type="hidden" name="current_registration_id" value="{{ current_registration.id }}" />
    <input type="hidden" name="assistant_id" value="{{ assistant.id }}" />
  </div>
  <div class="row fill">
    <div class="col-sm-12">
      <div id="sanity-check-to-delete">
        <h1>Congratulations!</h1>
        <h3>You have succcesfully registered {{ registrant.first_name }} {{ registrant.last_name }} for {{ current_registration.conference }}</h3>
        {{ current_registration }}<br />
      </div>

      <div id="keep-this-part">
        <ul>
          <li>
            <a href="/delegate/send_conf_email?reg={{ current_registration.pk }}" target="_blank">Send Email Confirmation</a>
          </li>
          <li>
            <a href="/delegate/get_reg_note?reg={{ current_registration.pk }}" target="_blank">Download internal record sheet</a>
          </li>
          <li>
            <a href="/delegate/get_invoice?reg={{ current_registration.pk }}" target="_blank">Download copy of invoice</a>
          </li>
          <li>
            Register another person from the same company
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <object data="/delegate/get_reg_note?reg={{ current_registration.pk }}" type="application/pdf" width="50%" height="500">
        <p><b>PDF Did not load</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/delegate/get_reg_note?reg={{ current_registration.pk }}" target="_blank">Download PDF</a>.</p>
      </object>
    </div>
  </div>



</div>
{% endblock %}
