{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Confirmation Options | {% endblock %}

{% block script_includes %}
<script type="text/javascript" src="{% static 'delegate/javascript/confirmation.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'delegate/confirmation_addins/email_modal.html' %}
<div class="container fluid-fill" id="main">
  <div id="stored-variables">
    <input type="hidden" name="registrant_id" value="{{ registrant.id }}" />
    <input type="hidden" name="current_registration_id" value="{{ current_registration.id }}" />
    <input type="hidden" name="assistant_id" value="{{ assistant.id }}" />
    <input type="hidden" id="registration-type" name="registration_type" value="{{ current_registration.registration_status }}" />
    <input type="hidden" id="reg-action-type" value="{{ reg_action }}" />
  </div>
  <div class="row fill">
    <div class="col-sm-12">
      <div id="sanity-check-to-delete">
        <h1>Congratulations!</h1>
        <h3>You have succcesfully registered {{ registrant.first_name }} {{ registrant.last_name }} for {{ current_registration.conference }}</h3>
      </div>

      <div id="keep-this-part">
        <ul>
          <li>
            <a href="#email-confirmation-modal" data-toggle="modal">Send Email Confirmation</a>
          </li>
          <li>
            <a href="/delegate/get_reg_note?reg={{ current_registration.pk }}" target="_blank">Download internal record sheet</a>
          </li>
          <li>
            <a href="/delegate/get_invoice?reg={{ current_registration.pk }}" target="_blank">Download copy of invoice</a>
          </li>
          <li>
            <a href="{% url 'registration:new_delegate_search' %}">New Registration</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <iframe src="/delegate/get_reg_note?reg={{ current_registration.pk }}" width="50%" height="500" style="border:none;">
        <p><b>PDF Did not load</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/delegate/get_reg_note?reg={{ current_registration.pk }}" target="_blank">Download PDF</a>.</p>
      </iframe>
    </div>
  </div>
</div>
{% endblock %}
