{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}New Delegate | {% endblock %}

{% block script_includes %}
<link href="{% static 'delegate/delegate.css' %}"
  rel="stylesheet" type="text/css">
<script type="text/javascript"
  src="{% static 'delegate/javascript/delegate.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid fill">
  <input type="hidden" id="current-registrant-id" value="{{ registrant.id }}" />
  <input type="hidden" id="current-regdetail-id" value="{{ current_registration.id }}" />
  <div class="row fill">
    <div class="col-sm-9 left-main-panel">
      <div id="conference-selection">
        <input type="hidden" id="selected-conference-id" value="{{ conference.id }}" />
        <h3>New Registration For:
          <span class="h1" id="displayed-conf-name">
            {{ conference }}
          </span>
          {% if not current_registration %}
          <a href="#conference-details"
            class="btn btn-warning btn-sm crm-list-action" data-toggle="collapse">
              Change Event
          </a>
          {% endif %}
        </h3>
        <div class="row collapse" id="conference-details">
          <div class="col-sm-12">
            {{ conference_select_form.event.errors }}
          </div>
          <div class="col-sm-12">
            {{ conference_select_form.event.label_tag }}
          </div>
          <div class="col-sm-10">
            {{ conference_select_form.event }}
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-sm"
              id="change-conference">
              Change
            </button>
          </div>
        </div>
      </div>

      <div id="conference-options">
        {% if conference_options %}
        <h1>Conference Option Selection</h1>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title h2">
              Please select which options the delegate is registering for
            </h2>
          </div>
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th class="col-sm-2">Select?</th>
                <th class="col-sm-6">Option Description</th>
                <th class="col-sm-2">Start Date</th>
                <th class="col-sm-2">End Date</th>
              </tr>
            </thead>
            <tbody>
              {% for option in conference_options %}
              <tr>
                {% if option.primary %}
                <td>
                  <input type="checkbox" name="event-option-selection"
                    value="{{ option.id }}" checked="checked" />
                </td>
                {% else %}
                <td>
                  <input type="checkbox" name="event-option-selection"
                    value="{{ option.id }}" />
                </td>
                {% endif %}
                <td>{{ option.name }}</td>
                <td>{{ option.startdate }}</td>
                <td>{{ option.enddate }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      </div>

      <div id='delegate-info'>
        <h3>Delegate Information</h3>
        <div class="row">
          <div class="col-sm-2">
            {{ new_delegate_form.salutation.errors }}
            {{ new_delegate_form.salutation.label_tag }}
            {{ new_delegate_form.salutation }}
          </div>
          <div class="col-sm-5">
            {{ new_delegate_form.first_name.errors }}
            {{ new_delegate_form.first_name.label_tag }}
            {{ new_delegate_form.first_name }}
          </div>
          <div class="col-sm-5">
            {{ new_delegate_form.last_name.errors }}
            {{ new_delegate_form.last_name.label_tag }}
            {{ new_delegate_form.last_name }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ new_delegate_form.title.errors }}
            {{ new_delegate_form.title.label_tag }}
            {{ new_delegate_form.title }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            {{ new_delegate_form.email1.errors }}
            {{ new_delegate_form.email1.label_tag }}
            {{ new_delegate_form.email1 }}
          </div>
          <div class="col-sm-6">
            {{ new_delegate_form.email2.errors }}
            {{ new_delegate_form.email2.label_tag }}
            {{ new_delegate_form.email2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            {{ new_delegate_form.phone1.errors }}
            {{ new_delegate_form.phone1.label_tag }}
            {{ new_delegate_form.phone1 }}
          </div>
          <div class="col-sm-6">
            {{ new_delegate_form.phone2.errors }}
            {{ new_delegate_form.phone2.label_tag }}
            {{ new_delegate_form.phone2 }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            {{ new_delegate_form.contact_option.errors }}
            {{ new_delegate_form.contact_option.label_tag }}
            {{ new_delegate_form.contact_option }}
          </div>
        </div>
      </div>

      <div id='company-info'>
        <h3>
          Company Information
          <a href="#company-details"
            class="btn btn-default btn-xs crm-list-action" data-toggle="collapse">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </h3>
        {{ company_select_form.name.errors }}
        {{ company_select_form.name.label_tag }}
        {{ company_select_form.name }}
        {% if company %}
        <div class="collapse" id="company-details">
        {% else %}
        <div class="collapse in" id="company-details">
        {% endif %}
          <div class="row">
            <div class="col-sm-12">
              {{ company_select_form.name_for_badges.errors }}
              {{ company_select_form.name_for_badges.label_tag }}
              {{ company_select_form.name_for_badges }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {{ company_select_form.address1.errors }}
              {{ company_select_form.address1.label_tag }}
              {{ company_select_form.address1 }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {{ company_select_form.address2.errors }}
              {{ company_select_form.address2.label_tag }}
              {{ company_select_form.address2 }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              {{ company_select_form.city.errors }}
              {{ company_select_form.city.label_tag }}
              {{ company_select_form.city }}
            </div>
            <div class="col-sm-3">
              {{ company_select_form.state_prov.errors }}
              {{ company_select_form.state_prov.label_tag }}
              {{ company_select_form.state_prov }}
            </div>
            <div class="col-sm-3">
              {{ company_select_form.postal_code.errors }}
              {{ company_select_form.postal_code.label_tag }}
              {{ company_select_form.postal_code }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              {{ company_select_form.country.errors }}
              {{ company_select_form.country.label_tag }}
              {{ company_select_form.country }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              {{ company_select_form.gst_hst_exempt.errors }}
              {{ company_select_form.gst_hst_exempt.label_tag }}
              {{ company_select_form.gst_hst_exempt }}
            </div>
            <div class="col-sm-3">
              {{ company_select_form.gst_hst_exemption_number.errors }}
              {{ company_select_form.gst_hst_exemption_number.label_tag }}
              {{ company_select_form.gst_hst_exemption_number }}
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
              {{ company_select_form.qst_exempt.errors }}
              {{ company_select_form.qst_exempt.label_tag }}
              {{ company_select_form.qst_exempt }}
            </div>
            <div class="col-sm-3">
              {{ company_select_form.qst_exemption_number.errors }}
              {{ company_select_form.qst_exemption_number.label_tag }}
              {{ company_select_form.qst_exemption_number }}
            </div>
          </div>
        </div>
      </div>

      <div id='reg-details'>
        <h3>Registration/Invoice details</h3>
        <div class="row">
          <div class="col-sm-3">
            {{ reg_details_form.pre_tax_price.errors }}
            {{ reg_details_form.pre_tax_price.label_tag }}
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" id="id_pre_tax_price" class="form-control"
                name="pre_tax_price" step="100" required="" />
            </div>
          </div>
          <div id="fx-details">
            {% include 'delegate/addins/fx_details.html' %}
          </div>
          <div class="col-sm-3">
            {{ reg_details_form.priority_code.errors }}
            {{ reg_details_form.priority_code.label_tag }}
            {{ reg_details_form.priority_code }}
          </div>
          <div class="col-sm-3">
            {{ reg_details_form.sales_credit.errors }}
            {{ reg_details_form.sales_credit.label_tag }}
            {{ reg_details_form.sales_credit }}
          </div>
        </div>
        <div class="row" id="registration-tax-information">
          {% include 'delegate/addins/delegate_tax_information.html' %}
        </div>
        <div class="row">
          <div class="col-sm-3">
            {{ reg_details_form.registration_status.errors }}
            {{ reg_details_form.registration_status.label_tag }}
            {{ reg_details_form.registration_status }}
          </div>
          <div id="cancellation-details">
            {% include 'delegate/addins/cancellation_details.html' %}
          </div>
        </div>
        <div id="status-based-reg-fields">
          {% include 'delegate/addins/status_based_reg_fields.html' %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ reg_details_form.invoice_notes.errors }}
            {{ reg_details_form.invoice_notes.label_tag }}
            {{ reg_details_form.invoice_notes }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ reg_details_form.registration_notes.errors }}
            {{ reg_details_form.registration_notes.label_tag }}
            {{ reg_details_form.registration_notes }}
          </div>
        </div>
      </div>

      <div id='assistant-info'>
        <h3>Assistant Information</h3>
        {{ assistant_form }}
      </div>
    </div>
    <div id="crm-sidebar" class="col-sm-3 col-md-3 crm-sidebar fill">
      {% include 'delegate/addins/crm_sidebar.html' %}
    </div>
  </div>
</div>
{% endblock %}
