{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}Payment Details | {% endblock %}

{% block script_includes %}
<script type="text/javascript" src="{% static 'delegate/javascript/payment_details.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container fluid-fill" id="main">
  <form action="/delegate/payment_details/" method="post" id="registration-form">
    {% csrf_token %}
    <div id="stored-variables">
      <input type="hidden" name="registrant_id" value="{{ registrant.id }}" />
      <input type="hidden" name="current_registration_id" value="{{ current_registration.id }}" />
      <input type="hidden" name="invoice_number" value="{{ invoice.pk }}" />
      <input type="hidden" id="event_id" name="event_id" value="{{ event.pk }}" />
      <!-- <input type="hidden" id="reg-action-type" value="{{ reg_action }}" /> -->
    </div>
    <div class="row fill">
      <div class="col-sm-12">
        <div id="greeting">
          <h1>Please Process Payment</h1>
          <h3>You have succcesfully registered {{ registrant.first_name }} {{ registrant.last_name }} for {{ current_registration.conference }}</h3>
          <h4>Now please process and finalize payment details</h4>
          <h3>Invoice Number: {{ invoice.pk }}</h3>
          <h3>Customer Number: {{ registrant.company_id }}</h3>
          <h3>Total Invoice Amount: <span id="total-invoice">${{ total_invoice_amount }}</span></h3>
        </div>

        <div id="instructions">
          <ol>
            <li>
              Run the credit card and take note of the authorization number.
            </li>
            <li>
              If the credit card is authorized, please enter a note with the authorization number on the invoice.
            </li>
            <li>
              If the credit card is declined, please change the payment status to Unpaid.
            </li>
            <li>
              If needed, add any notes to the internal record sheet.
            </li>
            <li>
              Press the "Finalize Registration" button.
            </li>
          </ol>
        </div>

        <div id="delegate-info" class="panel panel-primary">
          <div class="panel-heading">
            Payment and Invoice Information
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                {{ form.pre_tax_price.label_tag }}
                {{ form.pre_tax_price.errors }}
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  {{ form.pre_tax_price }}
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                {{ form.registration_status.label_tag }}
                {{ form.registration_status.errors }}
                {{ form.registration_status }}
              </div>
            </div>
            <div class="row">
              {% if event.gst_charged %}
              <div class="col-sm-6">
                {{ form.gst_rate.label_tag }}
                {{ form.gst_rate.errors }}
                {{ form.gst_rate }}
              </div>
              {% endif %}
              {% if event.hst_charged %}
              <div class="col-sm-6">
                {{ form.hst_rate.label_tag }}
                {{ form.hst_rate.errors }}
                {{ form.hst_rate }}
              </div>
              {% endif %}
              {% if event.qst_charged %}
              <div class="col-sm-6">
                {{ form.qst_rate.label_tag }}
                {{ form.qst_rate.errors }}
                {{ form.qst_rate }}
              </div>
              {% endif %}
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                {{ form.payment_date.label_tag }}
                {{ form.payment_date.errors }}
                {{ form.payment_date }}
              </div>
              <div class="col-sm-12 col-md-6">
                {{ form.payment_method.label_tag }}
                {{ form.payment_method.errors }}
                {{ form.payment_method }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                {{ form.invoice_notes.label_tag }}
                {{ form.invoice_notes.errors }}
                {{ form.invoice_notes }}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                {{ form.registration_notes.label_tag }}
                {{ form.registration_notes.errors }}
                {{ form.registration_notes }}
              </div>
            </div>
          </div>
          <div class="row">
          </div>

          <div class="finalButton">
            <button type="submit" class="btn btn-success col-sm-12" id="submit">
              Finalize registration
            </button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
{% endblock %}
