th {
    white-space: nowrap;
    vertical-align: middle !important;
}
.navbar-static-top {
  position:fixed;
  right: 0;
  left: 0;
  z-index: 1031;
}
.marketing-table {
  margin-top: 90px;
}
.table-field {
  border: none;
  box-shadow: none;
}
.text-input, .text-input-head, .text-display {
  min-width: 250px;
  max-width: 250px;
}
.select-input, .select-input-head, .select-display {
  min-width: 100px;
  max-width: 100px;
}
.select-input, .select-display {
  text-align: center;
}
.textarea-input {
  min-width: 350px;
  max-width: 350px;
}
.text-display, .select-display {
  vertical-align: middle !important;
  /*padding-top: 12px;*/
}
#table-container {
  display: block;
}


.table-fixed tbody {
  height: 65vh;
  overflow-y: auto;
}
.table-fixed thead, .table-fixed tbody {
  display: block;
}
