th {
    white-space: nowrap;
}
.navbar-static-top {
  position:fixed;
  right: 0;
  left: 0;
  z-index: 1031;
}
.marketing-table {
  margin-top: 100px;
}
.table-field {
  border: none;
  box-shadow: none;
}
.text-input, .text-input-head, .text-display {
  min-width: 250px;
  max-width: 250px;
}
.select-input, .select-input-head, .select-display {
  min-width: 100px;
  max-width: 100px;
}
.select-input, .select-display {
  text-align: center;
}
.textarea-input {
  min-width: 350px;
  max-width: 350px;
}
.text-display, .select-display {
  vertical-align: middle !important;
  /*padding-top: 12px;*/
}


/*.table-fixed thead {
  width: 97%;
}*/
.table-fixed tbody {
  height: 2300px;
  overflow-y: auto;
  /*width: 100%;*/
}
.table-fixed thead, .table-fixed tbody {
  display: block;
}
/*.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}*/
/*.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/
