th {
    white-space: nowrap;
    vertical-align: middle !important;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 2px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.navbar-static-top {
  position:fixed;
  right: 0;
  left: 0;
  z-index: 1031;
}
.marketing-table {
  margin-top: 90px;
}
.table-field {
  border: none;
  box-shadow: none;
}
.text-input, .text-input-head, .text-display {
  min-width: 250px;
  max-width: 250px;
}
.text-input-skinny, .text-input-head-skinny, .text-display-skinny {
  min-width: 175px;
  max-width: 175px;
  word-wrap: break-word;
}
.select-input, .select-input-head, .select-display {
  min-width: 100px;
  max-width: 100px;
}
.select-input-skinny, .select-input-head-skinny, .select-display-skinny {
  min-width: 70px;
  max-width: 70px;
}
.select-display-skinny {
  font-size: 11px;
}
.select-input, .select-display, .select-display-skinny {
  text-align: center;
  word-wrap: break-word;
}
.textarea-input {
  min-width: 350px;
  max-width: 350px;
}
.text-display, .select-display, .select-display-skinny {
  vertical-align: middle !important;
  /*padding-top: 12px;*/
}
#table-container {
  display: block;
}


.table-fixed tbody {
  height: 65vh;
  overflow-y: auto;
}
.table-fixed thead, .table-fixed tbody {
  display: block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
