<tr class="collapse {% if filter_string %}in{% endif %}" id="filter-row">
  <td class="select-input">
    <button class="btn btn-link float-left" type="button" id="btn-apply-filter">
      <span class="glyphicon glyphicon-filter"></span>
    </button>
    <button class="btn btn-link float-right" type="button" id="btn-clear-filter">
      <span class="glyphicon glyphicon-erase"></span>
    </button>
  </td>
  <td>
    <select class="form-control filter-input" filter-field="main_category">
      <option value="">
      </option>
      {% for option in cat_choices %}
      <option value = "{{ option.0 }}" {% if 'main_category' in query_prefill and query_prefill.main_category == option.0 %}selected="selected"{% endif %}>
        {{ option.1 }}
      </option>
      {% endfor %}
    </select>
  </td>
  <td>
    <select class="form-control filter-input" filter-field="division1">
      <option value="">
      </option>
      {% for option in div_choices %}
      <option value = "{{ option.0 }}" {% if 'division1' in query_prefill and query_prefill.division1 == option.0 %}selected="selected"{% endif %}>
        {{ option.1 }}
      </option>
      {% endfor %}
    </select>
  </td>
  <td>
    <input class="form-control filter-input" filter-field="company" {% if 'company' in query_prefill %}value="{{ query_prefill.company}}"{% endif %} />
  </td>
  <td>
    <input class="form-control filter-input" filter-field="name" {% if 'name' in query_prefill %}value="{{ query_prefill.name}}"{% endif %} />
  </td>
  <td>
    <input class="form-control filter-input" filter-field="title" {% if 'title' in query_prefill %}value="{{ query_prefill.title}}"{% endif %} />
  </td>
  <td>
    <input class="form-control filter-input" filter-field="dept" {% if 'dept' in query_prefill %}value="{{ query_prefill.dept}}"{% endif %} />
  </td>
  <td>
    <input class="form-control filter-input" filter-field="phone" {% if 'phone' in query_prefill %}value="{{ query_prefill.phone}}"{% endif %} />
  </td>
  <td>
    <input class="form-control filter-input" filter-field="email" {% if 'email' in query_prefill %}value="{{ query_prefill.mail}}"{% endif %} />
  </td>
  <td>
    <input class="form-control filter-input" filter-field="industry" {% if 'industry' in query_prefill %}value="{{ query_prefill.industry}}"{% endif %} />
  </td>
  <th></th>
  <td>
    <select class="form-control filter-input" filter-field="geo">
      <option value="">
      </option>
      {% for option in geo_choices %}
      <option value = "{{ option.0 }}" {% if 'geo' in query_prefill and query_prefill.geo == option.0 %}selected="selected"{% endif %}>
        {{ option.1 }}
      </option>
      {% endfor %}
    </select>
  </td>

  <td></td>
  <td>
    <input type="checkbox" class="form-control filter-input" filter-field="do_not_email" {% if 'do_not_email' in query_prefill and query_prefill.do_not_email == 'true' %}checked{% endif %} />
  </td>

  <td>
    <input class="form-control filter-input" filter-field="email_alternate" {% if 'email_alternate' in query_prefill %}value="{{ query_prefill.email_alternate}}"{% endif %} />
  </td>
  <td>
    <select class="form-control filter-input" filter-field="main_category2">
      <option value="">
      </option>
      {% for option in cat_choices %}
      <option value = "{{ option.0 }}" {% if 'main_category2' in query_prefill and query_prefill.main_category2 == option.0 %}selected="selected"{% endif %}>
        {{ option.1 }}
      </option>
      {% endfor %}
    </select>
  </td>
  <td>
    <select class="form-control filter-input" filter-field="division2">
      <option value="">
      </option>
      {% for option in div_choices %}
      <option value = "{{ option.0 }}" {% if 'division2' in query_prefill and query_prefill.division2 == option.0 %}selected="selected"{% endif %}>
        {{ option.1 }}
      </option>
      {% endfor %}
    </select>
  </td>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <td>
    <input type="checkbox" class="form-control filter-input" filter-field="do_not_call" {% if 'do_not_call' in query_prefill and query_prefill.do_not_call == 'true' %}checked{% endif %} />
  </td>
</tr>
