<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#marketing-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="marketing-navbar">
      <button type="button" class="btn btn-default navbar-btn" id="btn-add-record">
        <span class="glyphicon glyphicon-plus-sign"></span><br />
        New
      </button>
      <button type="button" class="btn btn-default navbar-btn" id='btn-filter' {% if filter_string %}disabled{% endif %} >
        <span class="glyphicon glyphicon-filter"></span><br />
        Filter
      </button>
      <button type="button" class="btn btn-default navbar-btn {% if not filter_string %}disabled{% endif %}" id="btn-see-all">
        <span class="glyphicon glyphicon-eye-open"></span><br />
        See All
      </button>
      <button type="button" class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-upload"></span><br />
        Upload
      </button>
    </div>
  </div>
</nav>
