<div class="container-fluid" id="table-container">
  <table class="table table-bordered table-hover table-fixed marketing-table">
    <thead>
      <tr>
        <th class="select-input-head">Delete</th>
        <th class="select-input-head">Main1</th>
        <th class="select-input-head">Main2</th>
        <th class="select-input-head">State/Prov</th>
        <th class="select-input-head">Geo</th>
        <th class="select-input-head">Div1</th>
        <th class="select-input-head">Div2</th>
        <th class="text-input">Company Name</th>
        <th class="text-input">Contact</th>
        <th class="text-input">Title</th>
        <th class="text-input">Dept</th>
        <th class="text-input">Phone</th>
        <th class="select-input-head">Do Not Call</th>
        <th class="text-input">Email</th>
        <th class="select-input-head">Do Not Email</th>
        <th class="textarea-input">Industry</th>
        <th class="select-input-head">Customer</th>
        <th class="text-input-head">Secondary Email</th>
        <th class="text-input-head">Date Entered</th>
        <th class="text-input-head">Date Updated</th>

      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      {% include 'marketing/index_addins/table_row.html' %}
      {% endfor %}
    </tbody>
  </table>
</div>
