<div class="row col-sm-12">
  <div class="panel panel-primary" id="total-panel">
    <div class="panel-heading">
      Please select or update fields for the current record
    </div>
    <div class="panel-body col-sm-12">
      <div class="panel panel-info col-sm-6 stacked-panel" id="current-record-panel">
        <div class="panel-heading">
          <b>What's in the Database Right Now</b>
        </div>
        {% include 'marketing/changes_addins/live_record_subpanel.html' %}
      </div>
      <div class="panel panel-default col-sm-6 stacked-panel" id="change-record-panel">
        <div class="panel-heading">
          <b>What was there before the change</b>
        </div>
        {% include 'marketing/changes_addins/change_record_subpanel.html' %}
      </div>
    </div>
  </div>
</div>
<div class="row col-sm-12">
  <h3>foo</h3>
</div>
