<div class="row col-sm-12">
  <div class="panel panel-primary" id="total-panel">
    <div class="panel-heading">
      Please select or update fields for the current record
    </div>
    <div class="panel-body col-sm-12">
      <div class="panel panel-info col-sm-6 stacked-panel" id="current-record-panel">
        <div class="panel-heading">
          Current Record
        </div>
        <div class="panel-body">
          <p>
            Info on current record goes here
          </p>
        </div>
      </div>
      <div class="panel panel-default col-sm-6 stacked-panel" id="original-record-panel">
        <div class="panel-heading">
          Original Record
        </div>
        <div class="panel-body">
          <p>
            Info on original record goes here
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row col-sm-12">
  <h3>foo</h3>
</div>
