<div class="panel-heading">
  <h2 class="panel-title h2">Enter Search Criteria</h2>
</div>
<div class="panel-body">
  <form action="{% url 'crm:search' %}" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label for="{{ search_form.name.id_for_label }}"
        class="col-sm-2 form-control-label">Name</label>
      <div class="col-sm-10">{{ search_form.name }}</div>
    </div>
    <div class="form-group row">
      <label for="{{ search_form.title.id_for_label }}"
        class="col-sm-2 form-control-label">Title</label>
      <div class="col-sm-10">{{ search_form.title }}</div>
    </div>
    <div class="form-group row">
      <label for="{{ search_form.company.id_for_label }}"
        class="col-sm-2 form-control-label">Company</label>
      <div class="col-sm-10">{{ search_form.company }}</div>
    </div>
    <div class="form-group row">
      <label for="{{ search_form.state_province.id_for_label }}"
        class="col-sm-2 form-control-label">State/Province</label>
      <div class="col-sm-2">{{ search_form.state_province }}</div>
      <label for="{{ search_form.past_customer.id_for_label }}"
        class="col-sm-2 form-control-label">Past Customer</label>
      <div class="col-sm-2">{{ search_form.past_customer }}</div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-2 ">
        <button type="submit" class="btn btn-primary" name="option"
          value="filter">Search</button>
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-default" name="option"
          value="reset">Reset Form</button>
      </div>
      <div class="col-sm-2">
        <button type="reset" class="btn btn-default">Undo Changes</button>
      </div>
    </div>
  </form>
</div>
