<div class="panel-heading">
  <h2 class="panel-title">
    Advanced Search Criteria
    {% if show_advanced %}
    <div id="btn-toggle-adv-search" class="float-right glyphicon glyphicon-chevron-up glyph-button"></div>
    {% else %}
    <div id="btn-toggle-adv-search" class="float-right glyphicon glyphicon-chevron-down glyph-button"></div>
    {% endif %}
  </h2>
</div>
{% if show_advanced %}
<div class="panel-body collapse in advanced-search-panel" id="search-panel">
{% else %}
<div class="panel-body collapse advanced-search-panel" id="search-panel">
{% endif %}
  <form action="{% url 'crm:search' %}" method="get">
    <div class="form-group row">
      <label for="{{ search_form.name.id_for_label }}"
        class="col-sm-2 form-control-label">Name</label>
      <div class="col-sm-10">{{ search_form.name }}</div>
    </div>
    <div class="form-group row">
      <label for="{{ search_form.title.id_for_label }}"
        class="col-sm-2 form-control-label">Title</label>
      <div class="col-sm-10">{{ search_form.title }}</div>
    </div>
    <div class="form-group row">
      <label for="{{ search_form.dept.id_for_dept }}"
        class="col-sm-2 form-control-label">Dept</label>
      <div class="col-sm-10">{{ search_form.dept }}</div>
    </div>
    <div class="form-group row">
      <label for="{{ search_form.company.id_for_label }}"
        class="col-sm-2 form-control-label">Company</label>
      <div class="col-sm-10">{{ search_form.company }}</div>
    </div>
    <div class="form-group row">
      <label for="{{ search_form.state_province.id_for_label }}"
        class="col-sm-2 form-control-label">State/Province</label>
      <div class="col-sm-2">{{ search_form.state_province }}</div>
      <label for="{{ search_form.phone_number.id_for_label }}"
        class="col-sm-2 form-control-label">Phone #</label>
      <div class="col-sm-2">
        {{ search_form.phone_number }}
      </div>
      <label for="{{ search_form.past_customer.id_for_label }}"
        class="col-sm-2 form-control-label">Past Customer</label>
      <div class="col-sm-2">{{ search_form.past_customer }}</div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-2 ">
        <button type="submit" class="btn btn-primary" name="option"
          value="filter">Search</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-default" name="option"
          value="reset" id="resetSearchForm">Reset Form</button>
      </div>
      <div class="col-sm-2">
        <button type="reset" class="btn btn-default">Undo Changes</button>
      </div>
    </div>
  </form>
</div>
{% if show_advanced %}
<div class="panel-heading collapse in advanced-search-panel">
{% else %}
<div class="panel-heading collapse advanced-search-panel">
{% endif %}
  Past Attendees
</div>
{% if show_advanced %}
<div class="panel-body collapse in advanced-search-panel">
{% else %}
<div class="panel-body collapse advanced-search-panel">
{% endif %}
  <form action="{% url 'crm:search' %}" method="get">
    <div class="form-group row col-sm-12">
      {{ conference_select_form }}
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-1 col-sm-4">
        <button type="submit" class="btn btn-primary" name="option" value="del-list">
          Show Attendee List
        </button>
      </div>
    </div>

  </form>
</div>
