<div class="panel panel-primary">

  <div class="panel-heading">
    <h2 class="panel-title">
      <span id="contact-history-panel-text">
        Contact History
        {% if person.contact_set.all|length < 6 %}
        (all)
        {% else %}
        (Last 5 of {{ person.contact_set.all|length }})
        {% endif %}
      </span>
      {% if new_contact_form.errors %}
      <div id="add-contact-history" class="float-right glyphicon glyphicon-chevron-up glyph-button"></div>
      {% else %}
      <div id="add-contact-history" class="float-right glyphicon glyphicon-plus glyph-button"></div>
      {% endif %}
    </h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th class="col-sm-2">Date/Time</th>
          <th class="col-sm-1">User</th>
          <th class="col-sm-2">Event</th>
          <th class="col-sm-1">Method</th>
          <th class="col-sm-5">Notes</th>
          <th class="col-sm-1">Delete?</th>
        </tr>
      </thead>
      {% if new_contact_form.errors %}
      <div id="add-contact-history-form" class="collapse in">
      {% else %}
      <div id="add-contact-history-form" class="collapse">
      {% endif %}
        <div class="form-group row">
          <h4 class="col-sm-12">Add Contact History</h4>
        </div>
        <div class="form-group row">
          <div class="col-sm-1">
            {{ new_contact_form.event.label_tag }}
          </div>
          <div class="col-sm-5">
            {{ new_contact_form.event.errors }}
            {{ new_contact_form.event }}
          </div>
          <div class="col-sm-1">
            {{ new_contact_form.method.label_tag }}
          </div>
          <div class="col-sm-5">
            {{ new_contact_form.method.errors }}
            {{ new_contact_form.method }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1">
            {{ new_contact_form.notes.label_tag }}
          </div>
          <div class="col-sm-11">
            {{ new_contact_form.notes.errors }}
            {{ new_contact_form.notes }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-offset-1 col-sm-2">
            <button type="reset" class="btn btn-secondary" id="reset-contact-history-form">
              Reset
            </button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary" id="save-contact-history-form">
              Save
            </button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <hr class="style-one" />
          </div>
        </div>
      </div>
      <tbody>
      {% for contact in person.contact_set.all|dictsortreversed:"date_of_contact" %}
      {% if forloop.counter > 5 %}
      <tr class="overflow-contact contact-history-entry" >
      {% else %}
      <tr class="contact-history-entry">
      {% endif %}
        <td>{{ contact.date_of_contact }}</td>
        <td>{{ contact.author }}</td>
        <td>{{ contact.event }}</td>
        <td>{{ contact.get_method_display }}</td>
        <td>{{ contact.notes }}</td>
        <td>{% if contact.able_to_delete %}<a href="?rm={{ contact.pk }}">Delete</a>{% endif %}</td>
      </tr>
      {% endfor %}
      {% if person.contact_set.all|length > 5 %}
      <tr>
        <td colspan="6">
          <button type="button" class="btn btn-default" id="show-entire-contact-history">Show All</button>
        </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
</div>
