{% load static %}
<div class="row">
  {% if event_assignment %}
  <input type="hidden" id="my-event-assignment" value="{{ event_assignment.id }}" />
  {% endif %}
  <div id="person-description">
    {% include 'crm/detail_addins/person_description.html' %}
  </div>
  <div id="person-detail-edit-panel">
    {% include 'crm/detail_addins/person_detail_edit_panel.html' %}
  </div>
  <div id="person-contact-history-panel">
    {% include 'crm/detail_addins/detail_contact_history.html' %}
  </div>
  <div id="person-reg-history-panel">
    {% include 'crm/detail_addins/detail_reg_history.html' %}
  </div>
  <div id="person-category-panel">
    {% include 'crm/detail_addins/detail_categorize.html' %}
  </div>
</div>
