{% load staticfiles %}
<div class="row">
  <div id="person-description">
    {% if updated_details_success %}
    <input type="hidden" name="updated-details-success" id="updated-details-success" value="True" />
    {% else %}
    <input type="hidden" name="updated-details-success" id="updated-details-success" value="False" />
    {% endif %}
    <h1>
      {{ person.name }}
      <span class="float-right">
        {% if flag %}
        <span class="glyphicon glyphicon-flag red-flag" flag-color="red"></span>
        {% else %}
        <span class="glyphicon glyphicon-plus"></span>
        {% endif %}
        <span id="duplicate-current-person" class="glyphicon glyphicon-duplicate glyph-button"></span>
        <span id="delete-person-btn" class="glyphicon glyphicon-trash errorlist glyph-button"></span>
      </span>


      <span id="linkedin-link" class="float-right">
        {% if person.linkedin %}
        <a href="http://{{ person.linkedin }}" target="_blank">
          <span class="float-right"><img src={% static 'crm/images/In-2C-128px-TM.png' %} style="width:32px;height:30px;"/></span>
        </a>
        {% else %}
        <a href="http://{{ person.linkedin }}" target="_blank" style="display:none;">
          <span class="float-right"><img src={% static 'crm/images/In-2C-128px-TM.png' %} style="width:32px;height:30px;"/></span>
        </a>
        {% endif %}
      </span>
    </h1>
    {% if person.title %}
    <h3>{{ person.title }}</h3>
    {% endif %}
    {% if person.company %}
    <h3>{{ person.company }}</h3>
    {% endif %}
    <h4>
      Tel:
      {% if person.phone %}
      {{ person.phone }}
      {% if person.do_not_call %}
      <span style="color:red;">(Do not call)</span>
      {% endif %}
      {% else %}
      <span style="font-weight: 300; font-style: italic">Unknown</span>
      {% endif %}
    </h4>
    <h4>
      Email:
      {% if person.email and not person.do_not_email %}
      <a href="mailto:{{ person.email }}">{{ person.email }}</a>
      {% elif person.email %}
      {{ person.email }}
      <span style="color:red;">(Do not email)</span>
      {% else %}
      <span style="fornt-weight: 300; font-style: italic">Unknown</span>
      {% endif %}
    </h4>
  </div>
  <div id="person-detail-edit-panel">
    {% include 'crm/addins/person_detail_edit_panel.html' %}
  </div>
  <div id="person-contact-history-panel">
    {% include 'crm/addins/detail_contact_history.html' %}
  </div>
  <div id="person-reg-history-panel">
    {% include 'crm/addins/detail_reg_history.html' %}
  </div>
  <div id="person-category-panel">
    {% include 'crm/addins/detail_categorize.html' %}
  </div>
</div>
