{% load staticfiles %}
<div class="row">
  <div id="person-description">
    {% if updated_details_success %}
    <input type="hidden" name="updated-details-success" id="updated-details-success" value="True" />
    {% else %}
    <input type="hidden" name="updated-details-success" id="updated-details-success" value="False" />
    {% endif %}
    <h1>
      {% if person.has_registration_history %}
      <span title="Past Customer" class="glyphicon glyphicon-ok alert-success" aria-hidden="true"></span>
      {% endif %}
      {{ person.name }}{% if person.title %}, {{ person.title }}{% endif %}{% if person.company %}, {{ person.company }}{% endif %}
      {% if person.linkedin %}
      <a href="http://{{ person.linkedin }}" target="_blank">
        <span class="float-right"><img src={% static 'crm/images/In-2C-128px-TM.png' %} style="width:32px;height:30px;"/></span>
      </a>
      {% endif %}
    </h1>
    <h4>
      Tel:
      {% if person.phone %}
      {{ person.phone }}
      {% if person.do_not_call %}
      <span style="color:red;">(Do not call)</span>
      {% endif %}
      {% else %}
      <span style="font-weight: 300; font-style: italic">Unknown</span>
      {% endif %}
    </h4>
    <h4>
      Email:
      {% if person.email and not person.do_not_email %}
      <a href="mailto:{{ person.email }}">{{ person.email }}</a>
      {% elif person.email %}
      {{ person.email }}
      <span style="color:red;">(Do not email)</span>
      {% else %}
      <span style="fornt-weight: 300; font-style: italic">Unknown</span>
      {% endif %}
    </h4>
  </div>
  <div id="person-detail-edit-panel">
    {% include 'crm/addins/person_detail_edit_panel.html' %}
  </div>
  <div id="person-contact-history-panel">
    {% include 'crm/addins/detail_contact_history.html' %}
  </div>
  <div id="person-reg-history-panel">
    {% include 'crm/addins/detail_reg_history.html' %}
  </div>
  <div id="person-category-panel">
    {% include 'crm/addins/detail_categorize.html' %}
  </div>
</div>
