<div class="modal fade" id="possibleDuplicateModal" tabindex="-1" role="dialog" aria-labelledby="possibleDuplicateLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="possibleDuplicateLabel">Hold On a Sec...</h3>
      </div>

      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-sm-12">
              <h4>It looks like the person you're adding might already be in the database</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>
                Please review the listings below.  If your entry is actually new,
                hit the "Create New Record" button to save it to the database.
              </p>
              <p>
                Otherwise, please click on the record you'd like to work with.
                You will be taken to that person's page.
              </p>
              <p>
                Or, click the Close button to continue editing the record.
              </p>
            </div>
          </div>
          {% if dupe_list %}
          <input type="hidden" id="dupe-list-exists" name="dupe-list-exists" value="True" />
          <div class="row">
            <div class="col-sm-12">
              <h4>Here's what you've entered:</h4>
            </div>
          </div>
          <div class="row">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>{{ name }}</strong><br />
                {% if title %}{{ title }}<br />{% endif %}
                {% if company %}{{ company }}<br />{% endif %}
                {% if city %}City: {{ city }}<br />{% endif %}
                {% if phone %}Tel: {{ phone }}<br />{% endif %}
                {% if email %}Email: {{ email }}<br />{% endif %}
              </li>
            </ul>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h4>Possible duplicates in database:</h4>
            </div>
          </div>
          <div class="row">
            <ul class="list-group">
              {% for dupe in dupe_list %}
              <a href="{% url 'crm:detail' dupe.id %}" class="list-group-item">
                <strong>{{ dupe.name }}</strong><br />
                {% if dupe.title %}{{ dupe.title }}<br />{% endif %}
                {% if dupe.company %}{{ dupe.company }}<br />{% endif %}
                {% if dupe.city %}City: {{ dupe.city }}<br />{% endif %}
                {% if dupe.phone %}Tel: {{ dupe.phone }}<br />{% endif %}
                {% if dupe.email %}Email: {{ dupe.email }}<br />{% endif %}
              </a>
              {% endfor %}
            </ul>
          </div>
          <div class="row">

          </div>
          {% else %}
          <input type="hidden" id="dupe-list-exists" name="dupe-list-exists" value="False" />
          {% endif %}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-after-dupe-check">Create New Record</button>
      </div>
    </div>
  </div>
</div>
