<div class="row">
  <h1>
    Advanced Database Search Options
    <a class="btn btn-default btn-sm crm-list-action" href="#search-panel" data-toggle="collapse" id="btn-toggle-adv-search">
      {% if show_advanced %}
      <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" id="icon-toggle-adv-search"></span>
      {% else %}
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" id="icon-toggle-adv-search"></span>
      {% endif %}
    </a>
</h1>
  {% if show_advanced %}
  <div class="panel panel-info collapse in" id="search-panel">
  {% else %}
  <div class="panel panel-info collapse" id="search-panel">
  {% endif %}
    {% include 'crm/addins/adv_search_panel.html' %}
  </div>
</div>
<div class="row">
  <h4>Results:</h4>
  {% include 'crm/addins/search_results_list.html' %}
</div>
