<div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas venue-sidebar fill"
  id="crm-sidebar">
  <div class="list-group">
    <h3 class="list-group-item active">Actions</h3>

    <div class="list-group-item" id="territory-selector">
      {% include 'crm/addins/my_territory_list.html' %}
    </div>

    <div class="list-group-item">
      <h5>Quick Search</h5>
      <form action = "/crm/search/" method="post">
        {% csrf_token %}
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search Name and/or Company" name="search_terms"
            id="quick-search-term" type="text" value="{{ quick_search_terms }}">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit" id="quick-search">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <a class="list-group-item" href="/crm/search/">Advanced Search</a>
    <div class="list-group-item">
      Recently Viewed Contacts
      <span class="glyphicon glyphicon-chevron-down float-right glyph-button" id="icon-toggle-recent-viewed"></span>
      <div id="recent-contact-list" class="collapse">
        {% include 'crm/addins/recently_viewed.html' %}
      </div>
    </div>
    {% if request.path|slice:"5:11" == 'detail' or request.path|slice:"5:11" == 'search' or request.path|slice:"5:14" == 'territory' %}
    <a class="list-group-item" href="/crm/new/">Add new contact</a>
    {% endif %}

    {% if perms.crm.change_territoryselects %}
    <a href="/crm/manage_territory/" class="list-group-item">
      Manage sales territories
    </a>
    {% endif %}
    <!-- TODO: Implement stuff below here -->
    <div class="list-group-item">
      Upcoming calls/appointments
    </div>
  </div>
</div>
