{% extends 'crm/base.html' %}
{% load staticfiles %}
{% load crm_extras %}

{% block script_includes %}
<script type="text/javascript" src="{% static 'marketing/javascript/marketing.js' %}"></script>
<link href="{% static 'marketing/css/marketing.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% include 'marketing/index_addins/navbar.html' %}
{% include 'marketing/index_addins/table_view.html' %}

{% if is_paginated %}
<div class="container-fluid">
  <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>

    {% elif i in pagination_list %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>

    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% endblock %}
