{% extends 'crm/base.html' %}
{% load static %}
{% load crm_extras %}

{% block script_includes %}
<script type="text/javascript" src="{% static 'marketing/javascript/marketing.js' %}"></script>
<script type="text/javascript" src="{% static 'marketing/javascript/upload_modal.js' %}"></script>
<link href="{% static 'marketing/css/marketing.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'marketing/css/upload_modal.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% include 'marketing/index_addins/upload_modal.html' %}
<div id="hidden-variables">
  <input type="hidden" id="filter-string" value="{{ filter_string|default_if_none:'' }}" />
  <input type="hidden" id="sort-by" value="{{ sort_by|default_if_none:'' }}" />
  <input type="hidden" id="order" value="{{ order|default_if_none:'' }}" />
  {% if is_paginated %}
  <input type="hidden" id="page-number" value="{{ page_obj.number }}" />
  {% else %}
  <input type="hidden" id="page-number" value="" />
  {% endif %}
</div>
{% include 'marketing/index_addins/navbar.html' %}
{% include 'marketing/index_addins/table_view.html' %}

{% if is_paginated %}
<div class="container-fluid">
  <ul class="pagination pagination-sm">
    {% if page_obj.has_previous %}
    <li><a class="same-page" href="?page={{ page_obj.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}&order={{ order }}{% endif %}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>

    {% elif i in pagination_list %}
    <li><a class="same-page" href="?page={{ i }}{% if sort_by %}&sort_by={{ sort_by }}&order={{ order }}{% endif %}">{{ i }}</a></li>

    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li><a class="same-page" href="?page={{ page_obj.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}&order={{ order }}{% endif %}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% endblock %}
