{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}Conferences | {% endblock %}

{% block script_includes %}
<link href="{% static 'registration/conference.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'crm/typeahead.css' %}" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{% static 'registration/javascript/conference.js' %}"></script>
<script type='text/javascript' src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid fill">
  <div class="row fill">
    <div id="venue-sidebar">
    {% include 'registration/addins/venue_sidebar.html' %}
    </div>
    <div class="col-sm-9 right-main-panel">
      <div class="row fill">
        <div class="panel-body search-panel">
          <h1>Add/Edit Conference</h1>
          <p>
            Please select an event to edit or choose "New Event" to Create a new event.
          </p>
          <form action="" method="post" id="create-new-conference">
            {% csrf_token %}
            <div class="form-group-row" id="conference-select-dropdown">
            {% include 'registration/addins/conference_select_dropdown.html' %}
            </div>
            <div class="form-group-row">
              <button type="button" class="btn btn-default btn-choose-venue col-sm-2"
                btn-action="edit">
                Edit
              </button>
              <button type="button" class="btn btn-success btn-choose-venue col-sm-2"
                btn-action="new">
                New Event
              </button>
            </div>
          </form>
        </div>
        <hr class="venue-hr" />
        <div class="panel-body edit-panel" id="conference-edit-panel">
        {% include 'registration/addins/conference_edit_panel.html' %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
