{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}Conferences | {% endblock %}

{% block script_includes %}
<link href="{% static 'registration/conference.css' %}"
  rel="stylesheet" type="text/css">
<script type="text/javascript"
  src="{% static 'registration/javascript/conference.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid fill">
  <div class="row fill">
    {% include 'registration/addins/venue_sidebar.html' %}
    <div class="col-sm-9 right-main-panel">
      <div class="row fill">
        <h1>Add/Edit Conference</h1>
        <p>
          Please select an event to edit or choose "New Event" to Create a new event.
        </p>
        <form action="" method="post" id="create-new-conference">
          {% csrf_token %}
          <input type="hidden" name="test" value="test_value" />
          <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <h3> Main section</h3>
        <ul class="fill">
          <li>
            item 1
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
