{% extends 'registration/base.html' %}
{% load staticfiles %}
{% load crm_extras %}

{% block script_includes %}
<script type="text/javascript" src="{% static 'registration/javascript/registration.js' %}"></script>
<link href="{% static 'crm/typeahead.css' %}" rel="stylesheet" type="text/css" />
<script type='text/javascript' src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>
      <a href="{% url 'home:index' %}"><img src={% static 'crm/images/INFONEX-logo.png' %}></a>&nbsp;&nbsp;
      Registration System
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Registration Management</h2>
      <p>Enter and update delegate and sponsor registrations</p>
      <p>
        <a class="btn btn-default" href="new_delegate_search">New Registration &raquo;</a>
      </p>
      <p><button class="btn btn-default ajax-load" type="button" ajax-target="reg-search">Find Registration &raquo;</button></p>
      <label>View Invoice Details</label>
      <div class="input-group add-on">
        <input class="form-control" placeholder="Invoice #" name="invoice-quick-search" type="number" id="invoice-search-box" />
        <div class="input-group-btn">
          <button class="btn btn-default" type="button" id="invoice-search-btn">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Edit Database Records</h2>
      <p>Add to or Update Conferences</p>
      <p><a class="btn btn-default" href="/registration/conference">Manage current conferences &raquo;</a></p>
      <p><button class="btn btn-default" type="button" ajax-target="fx-update">Update FX Conversion Rate &raquo;</button></p>
    </div>

    <div class="col-sm-4">
      <h2>Reports</h2>
      <p>Generate reports for various departmental needs</p>
      <p><button class="btn btn-default ajax-load" type="button" ajax-target="admin-reports">Admin Reports &raquo;</button></p>
      {% if request.use|has_group:'registration' or request.user|has_group:'management' or request.user.is_superuser %}
      <p><button class="btn btn-default" type="button" ajax-target="mass-mail">Send email to all Event Participants &raquo;</button></p>
      {% endif %}
      {% if request.user|has_group:'db_admin' or request.user|has_group:'management' or request.user.is_superuser %}
      <p><button class="btn btn-default ajax-load" type="button" ajax-target="sales-reports">Sales Commission Reports &raquo;</button></p>
      <p><button class="btn btn-default ajax-load" type="button" ajax-target="event-revenue">Conference Revenue Report &raquo;</button></p>
      {% endif %}
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <br/>
  </div>
</div>
<div class="container">
  <div class="row" id="ajax-content">

  </div>
</div>
{% endblock %}
