{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>
      <a href="{% url 'home:index' %}"><img src={% static 'crm/images/INFONEX-logo.png' %}></a>&nbsp;&nbsp;
      Registration System
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Registration Management</h2>
      <p>Enter and update delegate and sponsor registrations</p>
      <p>
        <a class="btn btn-default" href="new_delegate_search">New Registration &raquo;</a>
      </p>
      <p>
        <a href="#del-search" class="btn btn-default" data-toggle="collapse">
          Find Registration &raquo;
        </a>
      </p>
      <div id="del-search" class="collapse">
        <label>Enter Invoice Number</label>
        <div class="input-group">
          <input type="number" class="form-control" name="invoice-number" id="invoice-number" />
          <span class="input-group-btn">
            <button class="btn btn-success" type="button" id="search-invoice-number">Go!</button>
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <h2>Edit Database Records</h2>
      <p>Add to or Update Conferences</p>
      <p><a class="btn btn-default" href="/registration/conference">Manage current conferences &raquo;</a></p>
      <!-- <p><a class="btn btn-default" href="">Update FX conversion rate &raquo;</a></p> -->
      <!-- <p><a class="btn btn-default" href="">Edit reg values &raquo;</a></p> -->
    </div>

    <div class="col-sm-4">
      <h2>Reports</h2>
      <p>Generate reports for various departmental needs</p>
      <p>
        <button class="btn btn-default ajax-load" type="button" ajax-target="admin-reports">Admin Reports &raquo;</button>
      </p>
      <p><a class="btn btn-default" href="">Sales Commission Reports &raquo;</a></p>
      <p><a class="btn btn-default" href="">PD Commission Reports &raquo;</a></p>
      <p><a class="btn btn-default" href="">Conference Revenue Report &raquo;</a></p>
      <p><a class="btn btn-default" href="">Weekly Revenue Report &raquo;</a></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" id="ajax-content">

  </div>
</div>
{% endblock %}
