{% extends 'registration/base.html' %}

{% block content %}

<h1>
  Create New Registration
</h1>

<!-- Search for delegate -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title h2">Select Conference and Search for Person</h2>
  </div>
  <div class="panel-body">
    <form action="{% url 'registration:new' %}" method="post">
      {% csrf_token %}
      <div class="form-group row">
        <label for="{{ event_form.title.id_for_label }}"
          class="col-sm-2 form-control-label">Select Conference</label>
        <div class="col-sm-8">{{ person_form.event }}</div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-default" name="option"
            value="new_conf">Add New Conference</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ person_form.first_name.id_for_label }}"
          class="col-sm-2 form-control-label">First Name</label>
        <div class="col-sm-4">{{ person_form.first_name }}</div>
        <label for="{{ person_form.last_name.id_for_label }}"
          class="col-sm-2 person-label">Last Name</label>
        <div class="col-sm-4">{{ person_form.last_name }}</div>
      </div>
      <div class="form-group row">
        <label for="{{ person_form.company.id_for_label }}"
          class="col-sm-2 form-control-label">Company</label>
        <div class="col-sm-10">{{ person_form.company }}</div>
      </div>
      <div class="form-group row">
        <label for="{{ person_form.postal_code.id_for_label }}"
          class="col-sm-2 form-control-label">Postal Code</label>
        <div class="col-sm-4">{{ person_form.postal_code }}</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-2 ">
          <button type="submit" class="btn btn-primary" name="option"
            value="filter">Search</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-default" name="option"
            value="reset" onclick="clearSearchBoxesNewReg()">Reset Form</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% if past_customer_list %}
<!-- list of past buyers matching search criteria-->
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title h2">Matching Past Customers</h2>
  </div>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th class="col-sm-2">
          Show/Hide
        </th>
        <th class="col-sm-3">
          Name
        </th>
        <th class="col-sm-3">
          Title
        </th>
        <th class="col-sm-3">
          Company
        </th>
        <th class="col-sm-1">
          Registered?
        </th>
      </tr>
    </thead>
    <tbody>
      {% for customer in past_customer_list %}
      <tr>
        <td>
          <a href="#details{{ customer.id }}" class="btn btn-default"
            data-toggle="collapse" id="{{ customer.id }}">
            Show Details
          </a>
        </td>
        <td >
          {{ customer.first_name }}&nbsp;{{ customer.last_name }}
        </td>
        <td>
          {{ customer.title }}
        </td>
        <td>
          {{ customer.company.name }}
        </td>
        <td>
          ¯\_(ツ)_/¯
        </td>
      </tr>
      <tr id="details{{ customer.id }}" class="collapse" >
        <td class="col-sm-2">
          <button type="button" class="btn btn-info">Register!</button>
        </td>
        <td class="col-sm-4">
          <h4>{{ customer.first_name }}&nbsp;{{ customer.last_name }}</h4>
          <p class="person-detail">{{ customer.title}}</p>
          <p class="person-detail">{{ customer.company.name }}</p>
          <p class="person-detail">{{ customer.company.city }}
            {% if customer.company.city and customer.company.state_prov %}, {% endif %}
            {{ customer.company.state_prov }}</p>
          {% if customer.phone1 %}<p class="person-detail">Tel: {{ customer.phone1 }}</p>{% endif %}
          {% if customer.email1 %}<p class="person-detail">Email: {{ customer.email1 }}</p>{% endif %}
        </td>
        <td class="col-sm-3"></td>
        <td class="col-sm-3"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

{% if crm_list %}
<!-- list of matching people from crm system -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title h2">Matching People from CRM System</h2>
  </div>
  <div class="panel-body">
    <h4>Please note:</h4>
    <p>
      CRM searches will match either your name fields to
      <span style="text-decoration: underline;">either</span>
      the prospects's first name or last name.
    </p>
    <p>
      Also, postal code criteria do not work for selecting CRM prospects.
    </p>
    <p>
      Maximum 100 names returned here.
    </p>
  </div>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th class="col-sm-2">
          Show/Hide
        </th>
        </th>
        <th class="col-sm-4">
          Name
        </th>
        <th class="col-sm-3">
          Title
        </th>
        <th class="col-sm-3">
          Company
        </th>
      </tr>
    </thead>
    <tbody>
      {% for prospect in crm_list %}
      <tr>
        <td>
          <a href="#details{{ prospect.id }}" class="btn btn-default"
            data-toggle="collapse" id="{{ prospect.id }}"
            onclick="toggleSearchText(this.id)">
            Show Details
          </a>
        </td>
        <td>{{ prospect.name }}</td>
        <td>{{ prospect.title }}</td>
        <td>{{ prospect.company }}</td>
      </tr>
      <tr id="details{{ prospect.id }}" class="collapse" >
        <td class="col-sm-2">
          <button type="button" class="btn btn-info">Register!</button>
        </td>
        <td class="col-sm-4">
          <h4>{{ prospect.name }}</h4>
          <p class="person-detail">{{ prospect.title}}</p>
          <p class="person-detail">{{ prospect.company}}</p>
          {% if prospect.city %}<p class="person-detail">City: {{ prospect.city }}</p>{% endif %}
          <p class="person-detail">Province: {{ prospect.state_prov }}</p>
          {% if prospect.phone %}<p class="person-detail">Tel: {{ prospect.phone }}</p>{% endif %}
          {% if prospect.email %}<p class="person-detail">Email: {{ prospect.email }}</p>{% endif %}
        </td>
        <td class="col-sm-3"></td>
        <td class="col-sm-3"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
