{% extends 'registration/base.html' %}

{% block content %}

<h1>
  Create New Registration
</h1>

<!-- Search for delegate -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h2 class="panel-title h2">Select Conference and Search for Person</h2>
  </div>
  <div class="panel-body">
    <form action="{% url 'registration:new' %}" method="post">
      {% csrf_token %}
      <div class="form-group row">
        <label for="{{ event_form.title.id_for_label }}"
          class="col-sm-2 form-control-label">Select Conference</label>
        <div class="col-sm-8">{{ person_form.event }}</div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-default" name="option"
            value="new_conf">Add New Conference</button>
        </div>
      </div>
      <div class="form-group row">
        <label for="{{ person_form.first_name.id_for_label }}"
          class="col-sm-2 form-control-label">First Name</label>
        <div class="col-sm-4">{{ person_form.first_name }}</div>
        <label for="{{ person_form.last_name.id_for_label }}"
          class="col-sm-2 person-label">Last Name</label>
        <div class="col-sm-4">{{ person_form.last_name }}</div>
      </div>
      <div class="form-group row">
        <label for="{{ person_form.company.id_for_label }}"
          class="col-sm-2 form-control-label">Company</label>
        <div class="col-sm-10">{{ person_form.company }}</div>
      </div>
      <div class="form-group row">
        <label for="{{ person_form.postal_code.id_for_label }}"
          class="col-sm-2 form-control-label">Postal Code</label>
        <div class="col-sm-4">{{ person_form.postal_code }}</div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-2 ">
          <button type="submit" class="btn btn-primary" name="option"
            value="filter">Search</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-default" name="option"
            value="reset" onclick="clearSearchBoxesNewReg()">Reset Form</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% if past_customer_list %}
<!-- list of past buyers matching -->
<h1>List of past customers</h1>
{% endif %}

{% if crm_list %}
<!-- list of matching people from crm system -->
<h1>List of CRM matches</h1>
{% endif %}

{% endblock %}
