{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}Reports | {% endblock %}

{% block script_includes %}
<script type="text/javascript" src="{% static 'registration/javascript/reports.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Generate Reports</h1>

<ul>
  <li>
    Badges
  </li>
  <li>
    <a href="{% url 'registration:get_registration_list' %}?event=3" target="_blank">Registration List</a>
  </li>
  <li>
    <a href="{% url 'registration:get_no_name_list' %}?event=3" target="_blank">No Name List</a>
  </li>
  <li>
    <a href="{% url 'registration:get_delegate_list' %}?event=3" target="_blank">Delegate List</a>
  </li>
  <li>
    On-Site Staff Report
  </li>
  <li>
    Unpaid list
  </li>
  <li>
    Phone list
  </li>
</ul>

{% endblock %}
